.cards {
    $gutter: 100px;
    $cards-width: width('medium');

    @include layout-margin;
    @include container;
    @include no-first-last-margin;

    width: width('normal');

    &__header {
        @include no-first-last-margin;
        @include layout-margin-bottom(0.5);

        display: flex;
        flex-direction: column;
    }

    &__heading {
        @include section-heading;
    }

    &__meta {
        order: -1;
    }

    &__content {
        @include no-first-last-margin;

        display: flex;
        flex-direction: column;

        &:only-child {
            width: 100%;
            max-width: $cards-width;
            margin-right: auto;
            margin-left: auto;
        }

        .selecturl {
            margin-left: auto;

            &:only-child {
                @include mq($primary-breakpoint) {
                    margin-bottom: -2em;
                }
            }
        }

        > * {
            margin-bottom: 0;
        }
    }

    &__row-wrap {
        width: 100%;
        max-width: $cards-width;
        margin-right: auto;
        margin-left: auto;
    }

    &__row {
        @include mq($primary-breakpoint) {
            @include make-row;
        }

        @include mq(xlarge) {
            @include make-row($gutter);
        }
    }

    &__col {
        @include layout-margin-bottom(0.6);

        @include mq($primary-breakpoint) {
            @include make-col;

            width: 50%;
        }

        @include mq(xlarge) {
            @include make-col($gutter);
        }

        &:nth-last-child(1) {
            margin-top: 0;
        }

        &:nth-last-child(-n + 2) {
            @include mq('large') {
                margin-top: 0;
            }
        }
    }

    &__footer {
        @include no-first-last-margin;
        @include layout-margin-top(0.5);

        text-align: center;
    }

    &--alternatecards {
        .c-card {
            &__heading {
                @include mq($primary-breakpoint) {
                    margin-bottom: 0.25em;
                    font-size: em(42);
                }
            }

            &__meta {
                display: none;
            }

            &__media {
                &::before {
                    padding-top: ratio(460, 376);
                }
            }
        }
    }

    &--skinny-header {
        .cards {
            &__header {
                max-width: $cards-width;
                margin-right: auto;
                margin-left: auto;
            }
        }
    }

    &--featured {
        .cards {
            &__col {
                &:first-child {
                    width: 100%;

                    .c-card__media {
                        &::before {
                            padding-top: ratio(327, 195);

                            @include mq($primary-breakpoint) {
                                padding-top: ratio(21, 9);
                            }
                        }

                        &::after {
                            position: absolute;
                            top: 10%;
                            left: 0;
                            padding: 10px 1em;
                            background: rgba(color('orange'), 0.5);
                            border-radius: 0 9999px 9999px 0 !important;
                            color: color('white');
                            content: 'Featured';
                            font-size: em(12);
                            font-weight: bold;
                            letter-spacing: $letter-spacing;
                            text-transform: uppercase;
                            text-transform: uppercase;

                            .theme--blue & {
                                background: rgba(color('mediumblue'), 0.5);
                            }

                            .theme--purple & {
                                background: rgba(color('mediumpurple'), 0.5);
                            }

                            @include mq($primary-breakpoint) {
                                padding: 10px 40px;
                            }
                        }
                    }
                }
            }
        }
    }

    // -------------------------------------------------------------------------
    // Because a WYSIWYG is our main wrapper, we need a way to detect a nested
    // WYSIWYG so we can remove the padding
    // -------------------------------------------------------------------------
    .wysiwyg & {
        padding-right: 0;
        padding-left: 0;
    }
}
