.logo {
    position: relative;
    display: block;
    width: 100px;
    margin-right: auto;

    @include mq($primary-breakpoint) {
        width: 200px;
    }

    > * {
        transition: transition(opacity);
    }

    // This element is
    // - hidden on mobile on mobile
    // - Shown on larger screens
    &__symbol {
        display: none;
        width: 56px;
        opacity: 0;

        @include mq($primary-breakpoint) {
            display: block;
        }

        &--custom {

        }
    }

    &__inline {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        max-width: 80px;
        opacity: 0;
        pointer-events: none;
        transform: translateY(-50%);

        @include mq(medium) {
            max-width: 120px;
        }

        @include desktop-menu {
            display: none;
        }
    }

    &__static,
    &__animation {
        @include mq($primary-breakpoint) {
            position: absolute;
        }
    }

    // This element is
    // - Shown on mobile
    // - Shown on larger screens
    // - hidden on the home page if it follows the logo__animation class
    &__static {
        @include mq($primary-breakpoint) {
            top: 0;
            left: 0;
        }

        &--custom {
            @include mq($primary-breakpoint) {
                width: 200px;
                max-width: none;
            }
        }

        .logo__animation + & {
            body.home & {
                opacity: 0;
            }
        }
    }

    // This element is
    // - always hidden on mobile
    // - only shown on large screen
    // - only shown on the home page
    &__animation {
        position: absolute;
        top: -32px;
        left: -47px;
        width: 195px;
        pointer-events: none;

        @include mq($primary-breakpoint) {
            top: -65px;
            left: -96px;
            width: 394px;
        }

        body:not(.home) & {
            display: none;
        }
    }
}
