.wp-block-button {
    &__link {
        @include button;
    }

    &.aligncenter {
        margin-top: space('paragraph');
        margin-bottom: space('paragraph');
    }

    &.alignleft,
    &.alignright {
        margin-top: 0.4em;
    }
}
