.wp-block-gallery {
    @include layout-margin;

    .blocks-gallery-grid {
        @include make-row;
    }

    .blocks-gallery-item.blocks-gallery-item {
        @include make-column;

        margin-right: auto;
        margin-bottom: space('gutter');
        margin-left: auto;
    }

    &.columns-1 {
        @include no-first-last-margin;

        > * {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    // Addresses a height issue when using code that modifies the output from
    // WordPress to contain extra markup. Used in webp implementations mostly.
    picture {
        width: 100%;
        height: 100%;
    }

    img {
        @include box-shadow;
        @include rounded-corners;
    }
}
