.iconcard {
    @include box-shadow;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: space('gutter') / 2;
    background: color('white');
    border-radius: $base-border-radius;
    color: $base-color;
    text-align: center;

    @include mq(medium) {
        padding: space('gutter') / 2;
    }

    @include mq(xlarge) {
        padding: 45px 95px;
    }

    &__heading {
        @include section-heading;

        margin-bottom: 0 !important;
    }

    &__content {
        @include no-first-last-margin;

        margin-top: 1em;
    }

    &.has-icon {
        &::before {
            display: block;
            width: em(70);
            height: em(70);
            margin-right: auto;
            margin-bottom: 1em;
            margin-left: auto;
            background-image: var(--iconurl);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            content: '';
        }
    }
}
