.article-footer {
    @include container;
    @include layout-padding;
    @include layout-margin;

    position: relative;
    z-index: 1;
    max-width: 550px;
    text-align: center;

    &::before {
        position: absolute;
        z-index: -1;
        top: 0;
        right: -9999px;
        bottom: 0;
        left: -9999px;
        background: color('grey');
        content: '';
    }

    &__heading {
        margin-bottom: 1em;
        font-family: argent;
        font-size: em(42);
        line-height: $heading-line-height;
    }

    &__content {
        @include no-first-last-margin;

        a {
            &:only-child {
                @include arrow-link;
                @include hover-link;

                color: color('orange');

                .theme--blue & {
                    color: color('mediumblue');
                }

                .theme--purple & {
                    color: color('mediumpurple');
                }
            }
        }
    }
}
