$role-list-item-breakpoint: large;

.roles-list-item {
    @include box-shadow;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: space('gutter') / 2;
    border: 1px solid color('grey');
    background: color('white');
    border-radius: $base-border-radius;
    gap: 0.25em;

    @include mq($role-list-item-breakpoint) {
        display: grid;
        flex-direction: row;
        column-gap: 1em;
        grid-template-areas:
            'logo title date'
            'logo location type'
            'logo salary category';
        grid-template-columns: 1fr 3.5fr 2.5fr;
    }

    &__heading {
        margin-top: 0.75rem;
        margin-bottom: 1rem;
        color: color('orange');
        font-family: argent;
        font-size: em(22);
        grid-area: title;
        line-height: em(24);

        @include mq($role-list-item-breakpoint) {
            margin-top: 0;
            margin-bottom: 0;
        }

        .theme--blue & {
            color: color('mediumblue');
        }

        .theme--purple & {
            color: color('mediumpurple');
        }

        a {
            @include hover-link;
        }
    }

    &__salary {
        display: flex;
        width: 100%;
        align-items: baseline;
        font-size: 12px;

        @include mq($role-list-item-breakpoint) {
            font-size: inherit;
            grid-area: salary;
            text-align: inherit;
        }

        &::before {
            display: block;
            width: em(16);
            height: em(16);
            margin-right: 0.5em;
            background: color('orange');
            content: '';
            mask-image: url('../images/salary.svg');
            mask-position: center bottom;
            mask-repeat: no-repeat;
            mask-size: contain;

            .theme--blue & {
                background: color('mediumblue');
            }

            .theme--purple & {
                background: color('mediumpurple');
            }
        }
    }

    &__location {
        display: flex;
        width: 100%;
        align-items: baseline;
        font-size: 12px;

        @include mq($role-list-item-breakpoint) {
            font-size: inherit;
            grid-area: location;
        }

        &::before {
            display: block;
            width: em(16);
            height: em(16);
            margin-right: 0.5em;
            background: color('orange');
            content: '';
            mask-image: url('../images/location.svg');
            mask-position: center bottom;
            mask-repeat: no-repeat;
            mask-size: contain;

            .theme--blue & {
                background: color('mediumblue');
            }

            .theme--purple & {
                background: color('mediumpurple');
            }
        }
    }

    &__type {
        width: 100%;
        margin-top: 1rem;
        font-size: 12px;

        @include mq($role-list-item-breakpoint) {
            margin-top: 0;
            font-size: inherit;
            grid-area: type;
            text-align: right;
        }

        span {
            font-weight: bold;
        }
    }

    &__category {
        width: 100%;
        font-size: 12px;

        @include mq($role-list-item-breakpoint) {
            font-size: inherit;
            grid-area: category;
            text-align: right;
        }

        span {
            font-weight: bold;
        }
    }

    &__date {
        display: none;
        order: -1;
        margin-left: auto;
        font-size: 12px;
        font-weight: bold;

        @include mq($role-list-item-breakpoint) {
            font-size: inherit;
            grid-area: date;
            text-align: right;
        }
    }

    &__logo {
        width: 120px;
        order: -2;

        @include mq($role-list-item-breakpoint) {
            width: 100%;
            grid-area: logo;
        }

        &::before {
            display: block;
            padding-top: 65%;
            content: '';

            @include mq($role-list-item-breakpoint) {
                display: none;
            }
        }

        img {
            max-height: 95px;
            object-position: top left;
        }
    }

    &.hidden {
        display: none;
    }

    &.is-flexible {
        @include themed-gradient(-40deg);
        color: color('white');

        .roles-list-item__heading {
            color: inherit;
        }

        .roles-list-item__location::before,
        .roles-list-item__salary::before {
            background: color('white');
        }

        .roles-list-item__type,
        .roles-list-item__category {
            display: none;
        }
    }
}
