@include ie10-up {
    // ----------------------------------------------
    // Fixes img responsiveness in ie10 and up
    // ----------------------------------------------
    [src*='.svg'] {
        width: 100%;
        max-height: 100%;
    }
}
