.overlappedcards {
    --translateY: 0%;

    @include layout-margin;

    display: flex;
    flex-direction: column;

    &__heading {
        @include section-heading;
    }

    &__meta {
        order: -1;
    }

    &__items {
        > * {
            margin-top: space('gutter') / 2;

            @include mq($primary-breakpoint) {
                margin-top: 0;
            }

            &:first-child {
                margin-top: 0;
            }
        }
    }

    .c-card {
        @include mq($primary-breakpoint) {
            max-width: 1035px;
            align-items: center;
            justify-content: space-between;
            margin-right: auto;
            margin-left: auto;
            transform: translateY(var(--translateY));
            will-change: transform;

            &:nth-child(odd) {
                flex-direction: row;

                .c-card__inner {
                    padding-bottom: space('layout');
                }
            }

            &:nth-child(even) {
                position: relative;
                flex-direction: row-reverse;
                margin-top: -(space('layout'));

                .c-card__inner {
                    padding-top: space('layout');
                }

                .c-card__media {
                    position: relative;
                    z-index: 1;

                    &::after {
                        position: absolute;
                        z-index: -1;
                        top: -0.6em;
                        right: -0.6em;
                        bottom: -0.6em;
                        left: -0.6em;
                        background: color('white');
                        border-radius: $base-border-radius;
                        content: '';
                    }
                }
            }

            &__heading {
                font-size: em(30);
            }

            &__inner {
                display: flex;
                max-width: calc(50% - #{space('layout')});
                flex-direction: column;
            }

            &__media {
                width: 52%;
                flex-shrink: 0;

                > * {
                    border-radius: $base-border-radius;
                }
            }
        }
    }

    &__footer {
        @include no-first-last-margin;
        @include layout-margin-top(0.5);

        text-align: center;

        a {
            &:only-child {
                width: 100%;

                @include mq($primary-breakpoint) {
                    width: auto;
                }
            }
        }
    }
}
