.flag {
    @include layout-margin;

    display: flex;
    flex-direction: column;

    @include mq('medium') {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__inner {
        display: contents;

        @include mq($primary-breakpoint) {
            display: flex;
            width: calc(100% - #{$secondary} - #{space('gutter')});
            flex-direction: column;
        }

        @include mq(xlarge) {
            width: 100% - $secondary - $gap;
            padding-top: space('gutter');
        }
    }

    &__heading {
        @include section-heading;
    }

    &__meta {
        order: -2;
    }

    &__content {
        @include no-first-last-margin;

        @include mq($primary-breakpoint) {
            padding-right: 1em;
        }
    }

    &__link {
        margin-top: space('paragraph') * 1.5;

        @include mq($primary-breakpoint) {
            margin-top: 2.5em;
        }

        a {
            &:only-child {
                width: 100%;

                @include mq($primary-breakpoint) {
                    width: auto;
                }
            }
        }
    }

    &__media {
        @include no-first-last-margin;

        margin-top: space('paragraph');

        @include mq($primary-breakpoint) {
            width: $secondary;
            flex-grow: 0;
            flex-shrink: 0;
            order: initial;
            margin-top: 0;
        }

        &-media {
            margin-bottom: 0.5em;

            @include mq($primary-breakpoint) {
                margin-bottom: 1em;
            }

            > *,
            > picture img {
                border-radius: $base-border-radius;
            }

            &::before {
                display: block;
                padding-top: ratio(1, 1);
                content: '';
            }
        }

        &-heading {
            margin-top: 0;
            font-family: $base-serif;
            font-size: em(22);

            @include mq($primary-breakpoint) {
                margin-bottom: 0.5em;
            }
        }

        &-content {
            @include no-first-last-margin;

            color: color('darkgrey');
        }
    }

    &--media-up {
        .flag__media {
            order: -1;
            margin-bottom: 1em;

            @include mq($primary-breakpoint) {
                order: 0;
                margin-bottom: 0;
            }
        }
    }

    &:not(.flag--media-up) {
        .flag__link {
            @include mq($until: $primary-breakpoint) {
                order: 1;
            }
        }
    }

    .shape {
        &::after {
            right: auto;
            left: 50%;
        }
    }

    &--reverse {
        @include mq('medium') {
            flex-direction: row-reverse;
        }

        .shape {
            &::after {
                right: 50%;
                left: auto;
            }
        }
    }
}
