.c-card {
    @include box-shadow;

    display: flex;
    flex-direction: column;
    padding: space('gutter') / 2;
    background: color('white');
    border-radius: $base-border-radius;

    &__inner {
        @include no-first-last-margin;

        display: flex;
        flex-direction: column;
    }

    &__heading {
        margin-bottom: 0.68em;
        font-family: $heading-font-family;
        font-size: em(22);
        line-height: $heading-line-height;

        a {
            @include hover-link;
        }
    }

    &__meta {
        order: -1;
        margin-bottom: 1em;
        color: color('darkgrey');
        font-size: em(13);
        font-weight: bold;
        letter-spacing: $letter-spacing;
        text-transform: uppercase;

        a {
            @include hover-link(1px);
        }
    }

    &__content {
        @include no-first-last-margin;
    }

    &__link {
        color: color('orange');
        font-size: em(16);

        .theme--blue & {
            color: color('mediumblue');
        }

        .theme--purple & {
            color: color('mediumpurple');
        }

        a {
            @include arrow-link;
            @include hover-link;
        }
    }

    &__tag {
        order: -1;
    }

    &__pill {
        position: absolute;
        top: 10%;
        left: 0;
        padding: 10px 40px;
        background: rgba(color('orange'), 0.75);
        border-radius: 0 9999px 9999px 0 !important;
        color: color('white');
        font-size: em(12);
        font-weight: bold;
        letter-spacing: 0.13em;
        text-transform: uppercase;

        .theme--blue & {
            background: rgba(color('mediumblue'), 0.75);
        }

        .theme--purple & {
            background: rgba(color('mediumpurple'), 0.75);
        }
    }

    &__media {
        order: -1;
        margin-bottom: space('paragraph');

        &::before {
            display: block;
            padding-top: ratio(1, 1);
            content: '';
        }

        > *,
        > picture img {
            border-radius: $base-border-radius;
        }
    }

    &.has-media {
        padding: 0;
        background: transparent;
        border-radius: 0;
        box-shadow: none;
    }
}
