.shape {
    --scale: 1;
    --translateY: 0%;

    &::after {
        @include mq($primary-breakpoint) {
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 50%;
            display: block;
            width: 670px;
            height: 670px;
            background-image: var(--shapeurl);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            content: '';
            transform: scale(var(--scale)) translateY(calc(-50% + var(--translateY)));
            // transform: translateY(-50%);
            transform-origin: center center;
            will-change: transform;
            // animation: rotating 20s linear infinite;
        }
    }
}

// @keyframes rotating {
//     from {
//         transform: translateY(-50%) rotate(0deg);
//     }
//     to {
//         transform: translateY(-50%) rotate(360deg);
//     }
// }
