.iconcards {
    $gutter: 10px;

    @include layout-margin;
    @include no-first-last-margin;
    @include container;

    display: flex;
    width: 100%;
    max-width: width('normal');
    flex-direction: column;

    &__heading {
        @include section-heading;

        width: 650px;
    }

    &__meta {
        order: -1;
    }

    &__row {
        @include mq($primary-breakpoint) {
            @include make-row($gutter);
        }
    }

    &__col {
        margin-top: space('gutter') / 2;

        @include mq($primary-breakpoint) {
            @include make-col($gutter);

            width: calc(100% / 2);
            margin-top: space('gutter');
        }

        &:nth-child(1) {
            margin-top: 0;
        }

        &:nth-child(-n + 2) {
            @include mq($primary-breakpoint) {
                margin-top: 0;
            }
        }

        .iconcard {
            height: 100%;
        }
    }

    // -------------------------------------------------------------------------
    // Because a WYSIWYG is our main wrapper, we need a way to detect a nested
    // WYSIWYG so we can remove the padding
    // -------------------------------------------------------------------------
    .wysiwyg & {
        padding-right: 0;
        padding-left: 0;
    }
}
