h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    @include heading-attributes;
}

@each $name, $size in $heading-sizes {
    #{$name} {
        @include heading-size($name);
    }
}

@each $name, $size in $heading-sizes {
    .#{$name} {
        @include heading-size($name);
    }
}
