html {
    @include alias-text;

    background-color: $base-background;
    color: $base-color;
    font-family: $base-font-family;
    font-weight: $base-font-weight;
    line-height: $base-line-height;
    scroll-behavior: smooth;
}

[id] {
    scroll-margin-top: 128px;
}
