// [1] Making images fit within text
// [2] Removing the gap underneath images caused by inlineblock
// [3] Basic responsive images
img {
    display: inline-block; // [1]
    width: auto; // [3]
    max-width: 100%; // [3]
    height: auto; // [3]
    vertical-align: middle; // [2]
}
