// [1] Responsive
// [2] Match the current color of the text
svg {
    width: 100%; // [1]
    max-height: 100%; // [1]
    // fill: currentColor; // [2]
}

// path {
// fill: currentColor; // [2]
// }


.svg-inherit {
    path {
        fill: currentColor;
    }
}
