// ----------------------------------------------
// Standard element margins
// Possibly need to expand this to include more things
// ----------------------------------------------
p,
ul,
ol,
table,
iframe,
embed,
hr,
address,
blockquote,
pre,
dl,
figure,
fieldset {
    margin-top: space('paragraph');
    margin-bottom: space('paragraph');
}

ol,
ul,
dd {
    padding-left: space('paragraph');
}

dd {
    margin-left: 0;
}

li {
    ol,
    ul {
        margin-top: 0;
        margin-bottom: 0;
    }
}

small {
    font-size: $base-small-size;
}

dd + dt {
    margin-top: space('paragraph') / 2;
}

// We don't know if the code generator (WordPress) is going to
// use em or the deprecated i, Therefore we add style for both
i,
em {
    font-style: italic;
}

strong,
b,
dt {
    font-weight: $base-bold-weight;
}

// [1] Default browser styling is to align a caption to the center, lets make it inherit styling
// caption {
//     text-align: inherit; // [1]
// }
