// Forms: input fields
$input-background: transparent;
$input-border-thickness: 1px;
$input-border-color: color('black');
$input-color: inherit;
$input-custom-select: true;
$input-gap: space('paragraph') / 2;
$input-padding: space('paragraph') / 2;
$input-placeholder-color: currentColor;
$input-radius: $base-border-radius;

// Forms: other
$form-error-message-color: inherit;
$label-spacing: space('paragraph') / 4;
$textarea-height: 100px;
