// Base settings
$base-background: color('white');
$base-color: color('black');
$base-font-family: gotham;
$base-font-weight: 400;
$base-font-size: 18px;
$base-line-height: 1.6;
$base-small-size: 80%;
$base-border-radius: 1em;
$base-bold-weight: 700;
$base-darken-percent: 10%;
$base-serif: 'argent';

$mobile-font-size: 16px;

// Box Shadow
$box-shadow-horizontal: -2px;
$box-shadow-vertical: 2px;
$box-shadow-blur: 1em;
$box-shadow-spread: 0;
$box-shadow-color: rgba(45, 45, 45, 0.07);

// Links
$link-color-base: inherit;
$link-color-hover: inherit;

// Horizontal rule
$hr-thickness: 1px;
$hr-color: currentColor;

// Selection
$selection-background: color('black');
$selection-color: color('white');

// Transitions
$transition-time: 0.25s;
$transition-ease: ease-in-out;

// Component columns
$gap: 9.5%;
$secondary: 41%;

$primary-breakpoint: medium;

$letter-spacing: 0.13em;
