// Headings
$heading-color: inherit;
$heading-font-family: argent;
$heading-line-height: 1.2;
$heading-font-weight: 700;
$heading-sizes: (
    'h1': 40px,
    'h2': 36px,
    'h3': 32px,
    'h4': 28px,
    'h5': 24px,
    'h6': 20px,
);
