@import 'swiper/src/swiper';

.dualcarousel {
    $outer-width: 983px;

    @include layout-margin;

    position: relative;
    overflow: hidden;

    &.dualcarousel::after {
        top: 50%;
        right: 90%;
        left: auto;
    }

    &__header {
        @include container;

        display: flex;
        width: width('normal');
        flex-direction: column;
    }

    &__heading {
        @include section-heading;
    }

    &__meta {
        order: -1;
    }

    &__control-carousel {

        position: relative;
        width: $outer-width;
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;

        @include mq($primary-breakpoint) {
            @include layout-margin-bottom(0.7);
        }

        .swiper-container {
            width: 100%;
            padding-top: 30px;
            padding-bottom: 30px;
            margin-right: auto;
            margin-left: auto;

            @include mq(large) {
                max-width: 760px;
            }
        }

        .swiper-slide {
            &-active {
                z-index: 1;

                .dualcarousel__control-carousel-item {
                    border-radius: $base-border-radius;
                    transform: scale(1.2);

                    &::before {
                        opacity: 1;
                    }

                    &--icon {
                        img {
                            filter: brightness(0) invert(1);
                        }
                    }
                }
            }
        }

        .swiper-button {
            position: absolute;
            top: 50%;
            width: 22px;
            height: 8px;
            transform: translateY(-50%);
            cursor: pointer;

            @include interact {
                &::before {
                    filter: brightness(1);
                }
            }

            &::before {
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url('../images/arrow.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                content: '';
                filter: brightness(0);
                opacity: 1;
                transition: transition(filter);

                @include supports-mask {
                    background: color('orange');
                    mask-image: url('../images/arrow.svg');
                    mask-position: center;
                    mask-repeat: no-repeat;
                    mask-size: contain;

                    .theme--blue & {
                        background: color('mediumblue');
                    }

                    .theme--purple & {
                        background: color('mediumpurple');
                    }
                }
            }

            &-prev {
                left: 0;

                &::before {
                    transform: rotate(180deg);
                }
            }

            &-next {
                right: 0;
            }
        }

        &-item {
            overflow: hidden;
            background: color('grey');
            transition: transition(transform, border-radius);

            &::before {
                @include themed-gradient(-40deg);

                display: block;
                padding-top: 100%;
                content: '';
                opacity: 0;
                transition: transition(opacity);
            }

            &--icon {
                position: relative;

                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    max-width: 75%;
                    max-height: 75%;
                    filter: grayscale(1);
                    transform: translateX(-50%) translateY(-50%);
                }
            }
        }
    }

    &__item {
        &-wrap {
            @include container;

            // The carousel plugin resets this somewhere and it causes bugs
            box-sizing: border-box;
            padding-bottom: space('gutter');

            @include mq($primary-breakpoint) {
                display: flex;
                width: 760px + space('gutter');
                align-items: flex-start;
                justify-content: center;
                padding-bottom: space('gutter') / 2;
            }

            @include mq(xlarge) {
                width: width('normal');
            }
        }

        &-inner {
            @include mq($primary-breakpoint) {
                width: $outer-width;
                max-width: 100%;
            }

            @include mq(xlarge) {
                margin-left: space('layout');
            }

            &:only-child {
                @include mq($primary-breakpoint) {
                    margin-right: auto;
                    margin-left: auto;
                }
            }
        }

        &-heading {
            color: color('orange');
            font-family: $heading-font-family;
            font-size: em(30);
            font-weight: bold;

            .theme--blue & {
                color: color('mediumblue');
            }

            .theme--purple & {
                color: color('mediumpurple');
            }
        }

        &-meta {
            font-size: em(22);
        }

        &-content {
            @include no-first-last-margin;

            margin-top: 1em;
        }

        &-quote {
            $size: 32px;

            @include box-shadow;
            @include no-first-last-margin;
            padding: calc(#{$size} + 2em) 1em 2em;
            margin-top: space('paragraph');

            background: color('white');
            background-image: url('../images/quote.svg');
            background-position: top 1em left 1em;
            background-repeat: no-repeat;
            background-size: $size;
            border-radius: $base-border-radius;

            @include mq($primary-breakpoint) {
                max-width: 50%;
                flex-shrink: 0;
                padding: 2em 1em;
                padding: calc(#{$size} + 4.2em) 2.2em 2.2em;
                margin-left: space('gutter');
                background-position: top 2.2em left 2.2em;
            }

            @include mq(xlarge) {
                max-width: 504px;
                margin-left: space('layout');
            }

            &-author {
                display: block;
                font-family: Argent;
                font-size: em(22);
            }

            &-position {
                display: block;
                color: color('darkgrey');
                font-size: em(14, $mobile-font-size);

                @include mq($primary-breakpoint) {
                    font-size: inherit;
                }
            }
        }
    }
}
