.card-carousel {
    $gutter: 100px;
    $cards-width: width('medium');

    @include layout-margin;
    @include container;
    @include no-first-last-margin;

    width: width('normal');

    &__header {
        @include no-first-last-margin;
        @include layout-margin-bottom(0.5);

        display: flex;
        flex-direction: column;
        width: 990px;
        max-width: 100%;
    }

    &__heading {
        @include section-heading;
    }

    &__meta {
        order: -1;
    }

    &__content {
        @include no-first-last-margin;

        display: flex;
        flex-direction: column;

        &:only-child {
            width: 100%;
            max-width: $cards-width;
            margin-right: auto;
            margin-left: auto;
        }

        .selecturl {
            margin-left: auto;

            &:only-child {
                @include mq($primary-breakpoint) {
                    margin-bottom: -2em;
                }
            }
        }

        > * {
            margin-bottom: 0;
        }
    }

    &__carousel {
        display: flex;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        margin-right: calc(-50vw + 50%);
        margin-left: calc(-50vw + 50%);

        &::before,
        &::after {
            display: block;
            flex-shrink: 0;
            width: space('gutter') / 2;
            content: '';

            @include mq(medium) {
                display: none;
            }
        }

        &::after {
            @supports (background: -webkit-named-image(i)) {
                display: block !important;

                @include mq(xlarge) {
                    width: calc(50vw - (1235px / 2));
                }
            }
        }

        @include mq(medium) {
            padding-right: calc(50vw - 50%);
            padding-left: calc(50vw - 50%);
        }
    }

    &__card {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        width: 90vw;
        max-width: 295px;
        flex-shrink: 0;
        scroll-snap-align: center;
        border-radius: $base-border-radius;
        overflow: hidden;
        margin-right: 20px;
        padding: 30px;
        color: color('white');

        @include mq(medium) {
            width: 295px;
        }

        @include interact {
            .card-carousel__card-link {
                span {
                    &::before {
                        transform: scaleX(1);
                    }
                }
            }
        }

        &:last-child {
            margin-right: 0;
        }

        &-heading {
            @include section-heading($gradient:false);

            margin-bottom: 1em;
            color: inherit;
            font-size: 24px;

            @include mq($primary-breakpoint) {
                font-size: em(30);
            }

            a {
                &::before {
                    position: absolute;
                    z-index: 2;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    content: '';
                }
            }

            .theme--blue & {
                color: color('white');
            }

            .theme--purple & {
                color: color('white');
                border-color: color('white');
            }
        }

        &-content {
            @include no-first-last-margin;

            display: flex;
            flex-direction: column;
            flex-grow: 1;

            > * {
                margin-top: 0;
            }
        }

        &-link {
            margin-top: auto !important;

            span {
                // @include hover-link;
                @include arrow-link;
            }
        }

        &-icon {
            width: 31px;
            margin-bottom: 1em;
            order: -1;

            @include mq($primary-breakpoint) {
                width: 55px;
                margin-bottom: 80px;
            }

            &::before {
                display: block;
                content: '';
                padding-top: 100%;
            }
        }

        &-media {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            &::before {
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(-30deg, rgba(226, 41, 76, 0.9), rgba(235, 118, 4, 0.8), rgba(255, 207, 3, 0.6));
                content: '';

                .theme--blue & {
                    background-image: linear-gradient(-30deg, rgba(color('darkblue'), 0.9), rgba(color('mediumblue'), 0.8), rgba(color('lightblue'), 0.6));
                }

                .theme--purple & {
                    background-image: linear-gradient(-30deg, rgba(color('darkpurple'), 0.9), rgba(color('mediumpurple'), 0.8), rgba(color('lightpurple'), 0.6));
                }
            }
        }
    }

    &__controls {
        display: none;
        grid-auto-flow: column;
        justify-content: flex-end;
        gap: 1em;
        margin-top: 2rem;

        @include mq(medium) {
            display: grid;
        }
    }

    &__control {
        background: transparent;
        padding: 0;

        &::before,
        &::after {
            display: none;
        }

        &.is-previous {
            transform: rotate(180deg);
        }
    }

    &__arrow {
        display: block;
        width: 22px;
        height: 8px;
        background-image: url('../images/arrow.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        filter: brightness(0);
        transition: transition(filter);

        @include interact {
            filter: brightness(1);
        }

        @include supports-mask {
            background: color('orange');
            mask-image: url('../images/arrow.svg');
            mask-position: center;
            mask-repeat: no-repeat;
            mask-size: contain;

            .theme--blue & {
                background: color('mediumblue');
            }

            .theme--purple & {
                background: color('mediumpurple');
            }
        }
    }

    // -------------------------------------------------------------------------
    // Because a WYSIWYG is our main wrapper, we need a way to detect a nested
    // WYSIWYG so we can remove the padding
    // -------------------------------------------------------------------------
    .wysiwyg & {
        padding-right: 0;
        padding-left: 0;
    }
}
