.wysiwyg {
    @include layout-margin;
    @include no-first-last-margin;

    display: flex;
    flex-direction: column;

    &__heading {
        @include container;
        @include section-heading;

        width: width('normal');
    }

    &__content {
        @include no-first-last-margin;
        @include gutenberg;

        > * {
            &:last-child {
                > a {
                    &:only-child {
                        width: 100%;

                        @include mq($primary-breakpoint) {
                            width: auto;
                        }
                    }
                }
            }
        }

        ul {
            li + li {
                margin-top: 0.25em;
            }
        }
    }

    &__meta {
        @include container;

        width: width('normal');
        order: -1;
    }

    &__button {
        @include layout-margin-top(0.5);
    }

    &--altstyle {
        .wysiwyg {
            &__heading {
                color: inherit;
                font-family: argent;
                font-style: normal;
            }

            &__content {
                > h2 {
                    position: relative;
                    padding-top: 1em;
                    padding-left: 1em;
                    border-top: 1px solid color('grey');
                    color: color('orange');

                    .theme--blue & {
                        color: color('mediumblue');
                    }

                    .theme--purple & {
                        color: color('mediumpurple');
                    }

                    &::before {
                        position: absolute;
                        top: 1.4em;
                        left: 0;
                        width: 0.45em;
                        height: 0.45em;
                        margin-right: space('gutter');
                        background-image: url('../images/dot.svg');
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        content: '';
                    }
                }

                > h2,
                > h3,
                > h4,
                > h5,
                > h6 {
                    color: color('orange');
                    font-size: em(24, $mobile-font-size);

                    .theme--blue & {
                        color: color('mediumblue');
                    }

                    .theme--purple & {
                        color: color('mediumpurple');
                    }
                }
            }
        }
    }

    &--background {
        @include layout-padding;

        position: relative;
        z-index: 1;

        &::before {
            position: absolute;
            z-index: -1;
            top: 0;
            right: -9999px;
            bottom: 0;
            left: -9999px;
            content: '';
        }
    }

    &--grey {
        &::before {
            background: color('grey');
        }
    }

    &.alignwide,
    &.alignfull {
        @include layout-padding;

        position: relative;
        z-index: 1;

        &::before {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: color('grey');
            content: '';
        }
    }

    // -------------------------------------------------------------------------
    // Because a WYSIWYG is our main wrapper, we need a way to detect a nested
    // WYSIWYG so we can remove the padding
    // -------------------------------------------------------------------------
    .wysiwyg {
        > * {
            padding-right: 0;
            padding-left: 0;
        }
    }

    .single-role-footer {
        @include layout-margin-top(0.5);
        @include no-first-last-margin;
    }
}
