.hover-cards {
    $gap: 18px;

    @include layout-margin;

    display: flex;
    max-width: width('normal');
    flex-direction: column;
    padding-top: $base-border-radius;
    padding-bottom: $base-border-radius;

    &__heading {
        @include section-heading;

        width: 990px;
        max-width: 100%;
    }

    &__meta {
        order: -1;
    }

    &__row {
        @include mq($primary-breakpoint) {
            @include make-row($gap);
        }
    }

    &__col {
        width: 100%;
        margin-top: space('gutter') / 2;

        @include mq($primary-breakpoint) {
            @include make-col($gap);

            width: 50%;
            margin-top: $gap;
        }

        @include mq('large') {
            width: 25%;
            margin-top: space('gutter');
        }

        &:nth-child(1) {
            margin-top: 0;
        }

        &:nth-child(-n + 2) {
            @include mq($primary-breakpoint) {
                margin-top: 0;
            }
        }

        &:nth-child(-n + 4) {
            @include mq('large') {
                margin-top: 0;
            }
        }

    }
}
