@mixin full-width(
    $content: width('normal') - space('gutter'),
    $gutter: 0,
    $clamp: false,
    $rounding-fix: true,
) {
    margin-right: -($gutter / 2);
    margin-left: -($gutter / 2);

    @include mq($content) {
        margin-right: full-width-calc(
            $content: $content,
            $rounding-fix: $rounding-fix,
            // $gutter: $gutter
        );
        margin-left: full-width-calc(
            $content: $content,
            $rounding-fix: $rounding-fix,
            // $gutter: $gutter
        );
    }

    @if $clamp != false {
        $extra: ($clamp - ($content - $gutter)) / 2;

        @include mq($clamp) {
            margin-right: -($extra);
            margin-left: -($extra);
        }
    }
}
