$small: 0.5;
$medium: 0.7;
$large: 0.8;
$xlarge: 1;

@mixin layout-padding-top($multiplier: 1) {
    padding-top: space('layout') * $multiplier * $small;

    @include mq('medium') {
        padding-top: space('layout') * $multiplier * $medium;
    }

    @include mq('large') {
        padding-top: space('layout') * $multiplier * $large;
    }

    @include mq('xlarge') {
        padding-top: space('layout') * $multiplier * $xlarge;
    }
}

@mixin layout-padding-bottom($multiplier: 1) {
    padding-bottom: space('layout') * $multiplier * $small;

    @include mq('medium') {
        padding-bottom: space('layout') * $multiplier * $medium;
    }

    @include mq('large') {
        padding-bottom: space('layout') * $multiplier * $large;
    }

    @include mq('xlarge') {
        padding-bottom: space('layout') * $multiplier * $xlarge;
    }
}

@mixin layout-margin-top($multiplier: 1) {
    margin-top: space('layout') * $multiplier * $small;

    @include mq('medium') {
        margin-top: space('layout') * $multiplier * $medium;
    }

    @include mq('large') {
        margin-top: space('layout') * $multiplier * $large;
    }

    @include mq('xlarge') {
        margin-top: space('layout') * $multiplier * $xlarge;
    }
}

@mixin layout-margin-bottom($multiplier: 1) {
    margin-bottom: space('layout') * $multiplier * $small;

    @include mq('medium') {
        margin-bottom: space('layout') * $multiplier * $medium;
    }

    @include mq('large') {
        margin-bottom: space('layout') * $multiplier * $large;
    }

    @include mq('xlarge') {
        margin-bottom: space('layout') * $multiplier * $xlarge;
    }
}

@mixin layout-margin-pull($multiplier: 1) {
    margin-top: -(space('layout') * $multiplier * $small);

    @include mq('medium') {
        margin-top: -(space('layout') * $multiplier * $medium);
    }

    @include mq('large') {
        margin-top: -(space('layout') * $multiplier * $large);
    }

    @include mq('xlarge') {
        margin-top: -(space('layout') * $multiplier * 1);
    }
}

@mixin layout-margin-pull-bottom($multiplier: 1) {
    margin-bottom: -(space('layout') * $multiplier * $small);

    @include mq('medium') {
        margin-bottom: -(space('layout') * $multiplier * $medium);
    }

    @include mq('large') {
        margin-bottom: -(space('layout') * $multiplier * $large);
    }

    @include mq('xlarge') {
        margin-bottom: -(space('layout') * $multiplier * 1);
    }
}

@mixin layout-padding($multiplier: 1) {
    @include layout-padding-top($multiplier);
    @include layout-padding-bottom($multiplier);
}

@mixin layout-margin($multiplier: 1) {
    @include layout-margin-top($multiplier);
    @include layout-margin-bottom($multiplier);
}
