@charset "UTF-8";

/// Remove default focus and active states applied by browsers. It is
/// recommended that usage of this be avoided and default focus and active
/// states are respected.
///
/// @example scss
///    @include no-focus;
///
/// @access public

@mixin no-focus {
    &:focus,
    &:active {
        outline: none;
    }
}
