.roles-list {
    @include container;
    @include layout-margin-bottom;
    @include layout-margin-pull;

    width: width('normal');

    &__sidebar {
        @include no-first-last-margin;
        @include layout-margin(0.5);

        position: relative;
        z-index: 1;

        @include mq($primary-breakpoint) {
            padding: space('gutter');
            margin-top: 0;

            &::before {
                @include box-shadow;

                position: absolute;
                z-index: -1;
                top: 0;
                left: 50%;
                width: 100vw;
                height: 100%;
                border: 1px solid color('grey');
                background: color('white');
                border-radius: $base-border-radius;
                content: '';
                transform: translateX(-50%);
            }
        }

        &-header {
            @include no-first-last-margin;

            padding-bottom: space('paragraph');
            border-bottom: 1px solid color('grey');
            margin-bottom: space('paragraph');

            @include mq($primary-breakpoint) {
                display: flex;
                justify-content: space-between;
                padding-bottom: 0;
                border-bottom: 0;
            }

            &-heading {
                @include section-heading;

                margin-bottom: 0.5em;
                color: color('orange');

                @include mq($primary-breakpoint) {
                    margin-bottom: 0;
                }

                .theme--blue & {
                    color: color('mediumblue');
                }

                .theme--purple & {
                    color: color('mediumpurple');
                }
            }

            &-content {
                @include no-first-last-margin;

                .button {
                    margin-top: 1em;
                    @include mq($primary-breakpoint) {
                        margin-left: 0.5em;
                        margin-top: 0;
                    }
                }
            }

            // a {
            //     @include arrow-link;
            //     @include hover-link;

            //     color: color('orange');

            //     .theme--blue & {
            //         color: color('mediumblue');
            //     }

            //     .theme--purple & {
            //         color: color('mediumpurple');
            //     }
            // }
        }

        &-footer {
            @include no-first-last-margin;
            @include layout-margin-top(0.8);

            display: none;

            @include mq($primary-breakpoint) {
                display: block;
            }

            &-heading {
                font-weight: 500;
            }

            a {
                @include arrow-link;
                @include hover-link;

                color: color('orange');

                .theme--blue & {
                    color: color('mediumblue');
                }

                .theme--purple & {
                    color: color('mediumpurple');
                }
            }
        }
    }

    &__toggle {
        @include button-reset;

        display: flex;
        align-items: center;
        color: color('orange');
        font-size: 14px;
        font-weight: bold;

        .theme--blue & {
            color: color('mediumblue');
        }

        .theme--purple & {
            color: color('mediumpurple');
        }

        @include interact {
            color: color('orange');

            .theme--blue & {
                color: color('mediumblue');
            }

            .theme--purple & {
                color: color('mediumpurple');
            }
        }

        @include mq($primary-breakpoint) {
            display: none;
        }

        &::after {
            position: static;
            display: block;
            width: 1em;
            height: 1em;
            margin-left: 1em;
            background: currentColor;
            content: '';
            mask-image: url('../images/chevron.svg');
            mask-position: center;
            mask-repeat: no-repeat;
            mask-size: contain;
            opacity: 1;
            transform: rotate(180deg);
            transition: transition(filter, transform);
        }

        &.active {
            &::after {
                transform: rotate(0);
            }
        }
    }

    &__form-footer {
        margin-top: space('paragraph');
        text-align: center;

        @include mq($primary-breakpoint) {
            display: none;
        }
    }

    &__filters {
        @include no-first-last-margin;

        display: none;
        padding-bottom: space('paragraph');
        border-bottom: 1px solid color('grey');
        margin-top: space('paragraph');

        @include mq($primary-breakpoint) {
            display: flex;
            gap: 1em;
            padding-bottom: 0;
            border-bottom: 0;
            margin-top: 0;
        }

        &.active {
            display: block;
        }

        &-header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include mq($from: medium, $until: large) {
                flex-direction: column;
                align-items: flex-start;
            }

            button {
                @include button-reset;
                @include no-focus;

                font-size: em(14);

                @include interact {
                    color: inherit;
                    text-decoration: underline;
                }

                &::before,
                &::after {
                    display: none;
                }
            }
        }

        &-heading {
            color: color('orange');
            font-size: em(20);
            font-weight: bold;

            .theme--blue & {
                color: color('mediumblue');
            }

            .theme--purple & {
                color: color('mediumpurple');
            }

            @include mq($primary-breakpoint) {
                font-size: em(30);
            }
        }
    }

    &__filter {
        @include no-first-last-margin;
        @include list-reset;

        margin-top: 1em;
        margin-bottom: 1em;

        @include mq($primary-breakpoint) {
            margin: 0;
            flex-grow: 1;
        }

        button {
            @include mq($primary-breakpoint) {
                height: 100%;
            }
        }

        label {
            display: block;
            width: 100%;
            margin-bottom: 0;
            font-weight: 500;
        }

        li {
            margin-top: 0.5em;
            margin-bottom: 0.5em;

            label {
                display: flex;
                align-items: baseline;
                font-weight: inherit;

                &::after {
                    margin-left: auto;
                    content: '(' attr(data-count) ')';
                }

                input {
                    order: -1;
                    margin-top: 0;
                    margin-right: 1em;
                }

                span {
                    @include hover-link(1px);

                    font-weight: normal;
                }
            }
        }

        &.is-select {
            position: relative;

            select {
                padding-right: $input-padding * 4;
            }

            &::after {
                position: absolute;
                top: 50%;
                right: $input-padding * 2;
                width: $input-padding;
                height: $input-padding;
                border-bottom: 1px solid currentColor;
                border-right: 1px solid currentColor;
                transform: translateY(-75%) rotate(45deg);
                content: '';
                pointer-events: none;
            }
        }
    }

    &__roles {
        width: 100%;
        flex-grow: 0;
        flex-shrink: 1;

        > * {
            margin-bottom: space('gutter') / 2;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__none {
        display: none;
        font-weight: bold;

        &.active {
            display: block;
        }
    }

    &__footer {
        @include no-first-last-margin;
        padding-top: space('paragraph');
        border-top: 1px solid color('grey');
        margin-top: space('paragraph');

        color: color('darkgrey');

        @include mq($primary-breakpoint) {
            display: none;
        }

        a {
            color: color('orange');

            .theme--blue & {
                color: color('mediumblue');
            }

            .theme--purple & {
                color: color('mediumpurple');
            }

            &:only-child {
                @include hover-link;
                @include arrow-link;
            }
        }
    }
}
