.article-item {
    $width: width('skinny');
    $wide: width('normal');
    $gap: space('layout') / 2;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    &__header,
    &__content {
        @include container;

        position: relative;
        z-index: 1;
        width: $width;
    }

    &__header {
        @include layout-margin-bottom(0.5);

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: space('gutter') / 4;

        @include mq(medium) {
            padding-top: space('gutter') / 2;
        }

        @include mq(large) {
            padding-top: 40px;
            margin-top: -(space('layout'));
            background: color('white');
        }

        &::before {
            position: absolute;
            z-index: -1;
            top: 0;
            right: 0;
            bottom: 0;
            left: space('gutter') / 4;
            background: color('white');
            border-radius: 50px 0 0;
            content: '';

            @include mq($primary-breakpoint) {
                right: -9999px;
                left: -$gap;
                border-radius: $base-border-radius $base-border-radius 0 0;
            }
        }
    }

    &__author {
        @include layout-margin-bottom(0.5);

        display: flex;
        flex-direction: column;
        order: 1;

        @include mq($primary-breakpoint) {
            flex-direction: row;
            align-items: center;
        }

        &-inner {
            @include no-first-last-margin;
        }

        &-name {
            font-family: argent;
            font-size: em(22);
            line-height: $heading-line-height;
        }

        &-content {
            @include no-first-last-margin;

            color: color('darkgrey');
        }

        &-media {
            overflow: hidden;
            width: 66px;
            flex-grow: 0;
            order: -1;
            margin-right: 1em;
            margin-bottom: 1em;
            border-radius: 9999px;

            @include mq($primary-breakpoint) {
                width: 88px;
                margin-bottom: 0;
            }

            &::before {
                display: block;
                padding-top: 100%;
                content: '';
            }
        }
    }

    .social-icons {
        position: absolute;
        right: space('gutter') / 2;
        order: 2;

        &__heading {
            @include mq($until: $primary-breakpoint) {
                text-align: right;
            }
        }
    }

    &__heading {
        width: 100%;
        order: 4;
        color: inherit;
        font-family: argent;
        font-size: em(30, $mobile-font-size);
        line-height: $heading-line-height;
        margin-top: 0;
        margin-bottom: 0;

        @include mq($primary-breakpoint) {
            font-size: em(42);
        }
    }

    &__meta {
        width: 100%;
        order: 3;
        color: color('darkgrey');
        font-size: em(13);
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 3em;
    }

    &__tag {
        @include no-first-last-margin;
        @include container;

        width: width('normal');
        order: -2;
        margin-bottom: 1em;
    }

    &__media {
        @include container;

        width: width('normal');
        order: -1;
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 1em;

        &-inner {
            &::before {
                display: block;
                padding-top: ratio(4, 3);
                content: '';

                @include mq($primary-breakpoint) {
                    padding-top: ratio(21, 9);
                }
            }

            img {
                border-radius: $base-border-radius 0 0 $base-border-radius;

                @include mq(medium) {
                    border-radius: 0;
                }

                @include mq(xlarge) {
                    border-radius: $base-border-radius;
                }
            }
        }
    }

    &__content {
        @include no-first-last-margin;
        @include gutenberg(
            $width: $width,
            $wide: $wide,
            $gutter: space('gutter')
        );

        background: color('white');

        @include mq($until: medium){
            h1 {
                font-size: 32px;
            }

            h2 {
                font-size: 30px;
            }
        }
    }

    &--share {
        .article-item {
            &__header {
                @include mq($primary-breakpoint) {
                    padding-right: 4em;
                }
            }
        }
    }

    &--no-author {
        @include mq($until: $primary-breakpoint) {
            .article-item__header {
                padding-top: 0;
                margin-top: space('gutter') / 2 !important;

                .social-icons {
                    position: relative;
                    right: 0;
                    order: 5;
                    margin-top: 1em;

                    &__heading {
                        text-align: inherit;
                    }
                }
            }
        }
    }

    &--overlap {
        .article-item {
            &__header {
                margin-top: -75px;
            }

            &__media {
                padding-left: 0;
                margin-bottom: 0;
                border-radius: 0;
            }
        }
    }
}
