$footer-breakpoint: large;

.footer {
    @include layout-padding-bottom;
    @include layout-margin-top;

    position: relative;
    z-index: 1;
    background-image: url('../images/footer-background.svg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color: color('white');

    .theme--blue & {
        background-image: url('../images/footer-background-blue.svg');
    }

    .theme--purple & {
        background-image: url('../images/footer-background-purple.svg');
    }

    @include mq($footer-breakpoint) {
        @include layout-padding-top(2);
    }

    &__row {
        @include container;

        text-align: center;

        @include mq($footer-breakpoint) {
            display: flex;
            width: width('normal');
            align-items: flex-start;
            justify-content: space-between;
            text-align: inherit;
        }

        & + & {
            margin-top: space('gutter') / 2;

            @include mq($footer-breakpoint) {
                margin-top: 4em;
            }
        }
    }

    &__col {
        @include no-first-last-margin;

        &:first-child {
            @include mq($footer-breakpoint) {
                flex-grow: 1;
            }
        }

        &:last-child {
            flex-shrink: 0;

            @include mq($footer-breakpoint) {
                width: 225px;
            }
        }
    }

    &__logo {
        display: inline-block;
        width: 100px;
        margin-bottom: space('paragraph');
        filter: brightness(0) invert(1);
        vertical-align: middle;

        @include mq($footer-breakpoint) {
            width: 213px;
        }
    }

    &__content {
        &--menu,
        &--content,
        &--copyright {
            a:not(.footer__logo) {
                @include hover-link(1px);
            }
        }

        &--menu {
            font-size: em(14);
        }

        &--content,
        &--copyright {
            font-size: em(16);
        }
    }

    &__navigation {
        margin-bottom: space('paragraph') * 2;
        font-weight: bold;
        letter-spacing: 2px;
        letter-spacing: $letter-spacing;
        text-transform: uppercase;

        ul {
            @include list-reset-hard;
        }

        li {
            margin-bottom: 2em;

            &:last-child {
                margin-bottom: 0;
            }
        }

        a {
            @include hover-link;
        }
    }

    &__menu {
        @include mq($primary-breakpoint) {
            @include columns(3);
        }
    }

    .iconcards {
        margin-top: 0;
    }

    .social-icons {
        margin-top: space('paragraph');

        @include mq($footer-breakpoint) {
            margin-top: 0;
        }

        &__icons {
            justify-content: center;

            @include mq($footer-breakpoint) {
                justify-content: flex-start;
            }

            a {
                transition: transition(filter);

                @include interact {
                    filter: brightness(0);
                }
            }
        }
    }
}
