.archive,
.search,
.blog {
    .overlay {
        &__outer-wrap {
            padding-bottom: 200px;

            @include mq(medium) {
                padding-bottom: 400px;
            }

            @include mq(large) {
                padding-bottom: 610px;
            }
        }
    }

    .cards {
        position: relative;
        z-index: 1;
        margin-top: -200px;

        @include mq(medium) {
            margin-top: -400px;
        }

        @include mq(large) {
            margin-top: -620px;
        }

        &__header {
            color: color('white');
        }
    }

    .pills {
        &::before {
            @include mq(xlarge) {
                position: absolute;
                top: 0.4em;
                left: space('gutter') / 4;
            }
        }
    }
}

