// -----------------------------------------------------------------------------
// The work and archive page use different filters on desktop and mobile...
// -----------------------------------------------------------------------------
.post-type-archive-rmg-work,
.tax-rmg-work-category {
    .cards__content {
        .pills {
            @include mq($until: $primary-breakpoint) {
                display: none;
            }
        }

        .selecturl {
            @include mq($primary-breakpoint) {
                display: none;
            }
        }
    }
}
