.single-rmg-work {
    .article-footer {

        @include mq($until: $primary-breakpoint) {
            @include layout-padding(2);
        }


        &::before {
            bottom: -300px;
        }
    }

    .footer {
        @include layout-margin-pull;
    }
}
