// -----------------------------------------------------------------------------
// These templates dont have the header overlapping the content so we need to
// add some extra space at the top of the page
// -----------------------------------------------------------------------------
.single,
.error404,
.post-type-archive-rmg-role {
    padding-top: 115px;

    @include mq($primary-breakpoint) {
        padding-top: 200px;
    }
}
