.video {
    @include layout-margin;

    position: relative;
    display: flex;
    flex-direction: column;

    &__heading {
        @include section-heading;
    }

    &__meta {
        order: -1;
    }

    &__content {
        @include no-first-last-margin;
    }

    &--style {
        .video {
            &__video {
                @include box-shadow;
                @include rounded-corners;
            }
        }
    }

    video {
        display: block;
        width: 100%;

        &[poster] {
            object-fit: cover;
        }
    }

    + * {
        position: relative;
        z-index: 1;

    }
}
