@charset "UTF-8";

/// Helper function to retrieve a rem size
/// Converts a pixel to an rem size based on a base font size
///
/// @param {string} $target - The target font size
/// @param {string} $base [$base-font-size] - The base font size
///
/// @example scss
///     font-size: rem(50px);
///
/// @example scss
///     font-size: rem(50px, 20px);
///
/// @access public

@function rem($target) {
    $size: strip-unit($target) / 16;

    @return #{$size}rem;
}
