.img-fit {
    @include object-fit;

    img,
    video {
        @include object-fit-asset;
    }

    &.is-contain {
        img,
        video {
            object-fit: contain;
        }
    }

    &--fallback {
        @include object-fit-img-fallback;
    }
}
