.header {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 22px;
    padding-bottom: 26px;

    @include mobile-menu {
        @include mobile-menu-open {
            color: color('white');
        }
    }

    @include desktop-menu {
        padding-top: $desktop-padding;
        padding-bottom: $desktop-padding;
        background: color('white');
    }

    &__top {
        @include mobile-menu {
            position: relative;
            z-index: 20;
            display: flex;
            align-items: center;
        }
    }

    &__logo {
        // Filters can only be applied to block level elements
        display: block;

        @include mobile-menu {
            margin-right: auto;
        }

        @include mobile-menu-open {
            .logo__static,
            .logo__animation {
                opacity: 0;
            }

            .logo__inline {
                opacity: 1;
            }
        }
    }

    &__inner {
        @include container;

        width: width('normal');

        // ---------------------------------------------------------------------
        // Push the logo and the menu apart
        // ---------------------------------------------------------------------
        @include desktop-menu {
            display: flex;
            justify-content: space-between;
        }
    }

    &__burger {
        width: 24px;
        height: 24px;
        margin-left: 1em;
        transform-origin: center right;
        transition: transition(transform);

        @include desktop-menu {
            display: none;
        }

        &.active {
            transform: scale(0.66);
        }
    }

    &.active {
        @include desktop-menu {
            color: inherit;
        }

        .header__logo {
            @include desktop-menu {
                filter: none;
            }

            .logo__static,
            .logo__animation {
                @include desktop-menu {
                    opacity: 0;
                }
            }

            .logo__symbol {
                @include desktop-menu {
                    opacity: 1;
                }
            }
        }

        // .header__navigation li:not(.menu-button) > a {
        //     filter: none;
        // }
    }
}
