.header {
    .menu-button {
        order: 1;

        @include mobile-menu {
            margin-top: 2em;
        }

        ~ .menu-button {
            @include mobile-menu {
                margin-top: 1em;
            }
        }

        a {
            width: 100%;
            font-size: inherit !important;

            @include desktop-menu {
                width: auto;
            }
        }

        &--ghost {
            > a {
                @include ghost-button;

                @include mobile-menu {
                    border-color: rgba(color('white'), 0.2);
                    color: color('white');
                }

                // .theme--blue & {

                //     @include interact {
                //         background: color('darkblue');
                //     }
                // }
            }
        }

        &--button {
            > a {
                @include button;
            }
        }
    }
}
