// -------------------------------------------------------------------------
// We only want to do headroom stuff on desktop
// -------------------------------------------------------------------------
@include desktop-menu {
    .header.headroom {
        position: fixed;
        transition: transition(opacity, background); // headroom.js

        .header__logo {
            transition: transition(filter);
        }

        // ---------------------------------------------------------------------
        // We need to allow the logo to transition between states
        // ---------------------------------------------------------------------
        .logo {
            &__symbol,
            &__static,
            &__animation {
                transition: transition(opacity);
            }
        }

        &.headroom--not-top {
            background: color('white');
            // -----------------------------------------------------------------
            // Make the header have its default color back as it was changed
            // -----------------------------------------------------------------
            color: inherit;

            // -----------------------------------------------------------------
            // Give the logo back its color and put it in the middle
            // -----------------------------------------------------------------
            .header__logo {
                filter: none;
            }

            .logo {
                // -------------------------------------------------------------
                // Make the symbol visible as its hidden until needed
                // -------------------------------------------------------------
                &__symbol {
                    opacity: 1;
                }

                // -------------------------------------------------------------
                // Hide the main logos
                // -------------------------------------------------------------
                &__static,
                &__animation {
                    opacity: 0;
                    pointer-events: none;
                }
            }

            .menu-icon-phone > a::after,
            .header__navigation li:not(.menu-button)>a::before {
                filter: none;
            }

            .menu-button--ghost > a {
                border-color: color('orange');
                color: color('orange');

                .theme--blue & {
                    border-color: color('darkblue');
                    color: color('darkblue');
                }

                .theme--purple & {
                    border-color: color('darkpurple');
                    color: color('darkpurple');
                }

                @include interact {
                    color: color('white');
                }
            }

            // -----------------------------------------------------------------
            // Put the menu items in the middle of the menu
            // -----------------------------------------------------------------
            &:not(.active) {
                .header__menu {
                    > li {
                        > a {
                            transform: translateY(-15px);
                        }
                    }
                }

                // -----------------------------------------------------------------
                // Hide the top menu
                // -----------------------------------------------------------------
                .header__top-menu {
                    opacity: 0;
                    pointer-events: none;
                }
            }
        }

        // ---------------------------------------------------------------------
        // This is when the header is not visible as we are not initial page
        // load or we havent scrolled up
        // ---------------------------------------------------------------------
        &--unpinned {
            opacity: 0;
            pointer-events: none;
        }

        // ---------------------------------------------------------------------
        // This is when the menu is visible, irrespective of whether its at the
        // top of the screen or not
        // ---------------------------------------------------------------------
        &--pinned {
            opacity: 1;
            pointer-events: all;
        }
    }
}
