.header {
    .menu-icon-phone {
        > a {
            @include supports-mask {
                display: flex;
                align-items: baseline;

                &::after {
                    $size: 0.7em;

                    display: block;
                    width: $size;
                    height: $size;
                    order: -1;
                    margin-right: 0.5em;
                    background: currentColor;
                    content: '';
                    mask-image: url('../images/tel.svg');
                    mask-position: center;
                    mask-repeat: no-repeat;
                    mask-size: contain;
                    transition: transition(filter);

                    @include desktop-menu {
                        background: color('orange');

                        .theme--blue & {
                            background: color('darkblue');
                        }

                        .theme--purple & {
                            background: color('darkpurple');
                        }
                    }
                }
            }
        }
    }
}
