// -------------------------------------------------------------------------
// Handle the styling for the top menu menu, this is the secondary nav
// -------------------------------------------------------------------------
.header__top-menu {
    display: contents;

    @include desktop-menu {
        display: block;
        color: color('darkgrey'); // This is the active state
        transition: transition(opacity, color);
    }

    > li {
        &:first-child {
            border-top: 1px solid rgba(color('white'), 0.7);

            @include mobile-menu {
                padding-top: $mobile-menu-item-space;
                margin-top: $mobile-menu-item-space !important;
            }

            @include mq($from: medium, $until: xlarge) {
                padding-top: $mobile-menu-item-space * $tablet-multiplier;
                margin-top: $mobile-menu-item-space * $tablet-multiplier !important;
            }

            @include desktop-menu {
                border-top: 0;
            }
        }

        &:last-child {
            margin-bottom: auto;
        }

        > a {
            @include desktop-menu {
                display: block;
                transform: translateY(-12px);
            }
        }
    }
}
