
.header__menu {
    display: contents;

    @include desktop-menu {
        display: block;
    }

    > li {
        > a {
            display: block;

            @include desktop-menu {
                transform: translateY(12px);
                transition: transition(transform);
            }
        }
    }
}
