// ---------------------------------------------------
// Sits next to the burger icon as a secondary menu
// ---------------------------------------------------
.header__mobile-menu {
    @include list-reset-hard;

    display: none;

    @include mq(375px) {
        display: block;
    }

    @include desktop-menu {
        display: none;
    }

    a {
        @include button;

        background: color('white');
        color: color('orange');
        font-size: 13px;
        border: 1px solid color('orange');

        .theme--blue & {
            color: color('mediumblue');
            border-color: color('mediumblue');
        }

        .theme--purple & {
            color: color('mediumpurple');
            border-color: color('mediumpurple');
        }

        @include interact {
            background: color('white');
            color: color('orange');
            border: 1px solid color('orange');

            .theme--blue & {
                color: color('mediumblue');
                border-color: color('mediumblue');
            }

            .theme--purple & {
                color: color('mediumpurple');
                border-color: color('mediumpurple');
            }
        }

        &::before,
        &::after {
            display: none;
        }
    }
}
