

@mixin mobile-menu-padding {
    padding: 104px space('gutter') / 2 space('gutter');
}

@mixin desktop-menu {
    @include mq($header-breakpoint) {
        @content;
    }
}
@mixin mobile-menu {
    @include mq($until: $header-breakpoint) {
        @content;
    }
}

@mixin mobile-menu-open {
    .mobile-menu-open & {
        @content;
    }
}
