// ---------------------------------------------------
// Represents the wrapper around the main menu
// ---------------------------------------------------
.header__navigation {
    display: flex;

    @include mobile-menu {
        @include themed-gradient(-70deg);
        @include mobile-menu-padding;

        position: fixed;
        top: 0;
        left: 0;
        overflow: scroll;
        width: 100%;
        height: 100%;
        min-height: 100vh;
        min-height: -webkit-fill-available;
        flex-direction: column;
        opacity: 0;
        pointer-events: none;
        transform: translateY($menu-transform-distance);
        transition: transition(opacity, transform);

        @include mobile-menu-open {
            opacity: 1;
            pointer-events: all;
            pointer-events: all;
            transform: none;
        }
    }

    @include desktop-menu {
        flex-direction: column-reverse;
        align-items: flex-end;
    }

    // ---------------------------------------------------
    // Target all lists in the menu
    // ---------------------------------------------------
    ul {
        @include list-reset-hard;
    }

    li {
        margin-top: $mobile-menu-item-space;

        @include mq(medium) {
            margin-top: $mobile-menu-item-space * $tablet-multiplier;
        }

        @include desktop-menu {
            margin-top: 0;
        }

        &:first-child {
            margin-top: 0;
        }

        &:not(.menu-button) {
            @include mobile-menu {
                padding-left: 50px;
                font-size: 22px;
            }

            > a {
                @include desktop-menu {
                    @include hover-link;

                    font-weight: 500;

                    &::before {
                        @include themed-gradient;
                    }
                }
            }
        }
    }

    a {
        text-decoration: none;
    }

    // ---------------------------------------------------
    // Top level list
    // ---------------------------------------------------
    > ul {
        @include desktop-menu {
            display: flex;
            align-items: center;
        }

        // ---------------------------------------------------
        // Top level menu item
        // ---------------------------------------------------
        > li {
            @include desktop-menu {
                margin-right: em(30);
            }

            &:last-child {
                margin-right: 0;
            }

            > a {
                @include desktop-menu {
                    font-size: em(16);
                    font-weight: 500;
                }
            }
        }
    }

    .current-menu-item {
        > a {
            @include mobile-menu {
                font-weight: bold;
            }

            @include desktop-menu {
                &::before {
                    transform: scaleX(1) !important;
                }
            }
        }
    }
}
