// -------------------------------------------------------------------------
// Handles the defaults styles for when we are on a page where there is an
// orange backdrop at the header and we are at the top of the page
// -------------------------------------------------------------------------
.header--overlay {
    background: transparent;

    &:not(.active) {
        color: color('white');

        .header__top-menu {
            color: inherit;
        }

        .header__logo {
            filter: brightness(0) invert(1);
        }

        .menu-button--ghost > a {
            border-color: rgba(color('white'), 0.2);
            color: color('white');
        }

        .menu-icon-phone > a::after,
        .header__navigation li:not(.menu-button)>a::before {
            filter: brightness(0) invert(1);
        }
    }
}
