.header {
    .menu-item-has-children {
        @include mobile-menu {
            @include supports-mask {
                > a {
                    &::after {
                        display: inline-block;
                        width: 1em;
                        height: 1em;
                        margin-left: 0.5em;
                        background: currentColor;
                        content: '';
                        mask-image: url('../images/arrow.svg');
                        mask-position: center;
                        mask-repeat: no-repeat;
                        mask-size: contain;
                        vertical-align: middle;
                    }
                }
            }
        }

        &.active {
            > .sub-menu-wrap {
                opacity: 1;
                pointer-events: all;
                transform: translateX(0);
            }
        }
    }

    .sub-menu-wrap {
        @include box-shadow;

        z-index: 1;
        opacity: 0;
        pointer-events: none;
        transition: transition(opacity, transform);

        @include mobile-menu {
            @include mobile-menu-padding;
            @include themed-gradient(-70deg);

            position: fixed;
            z-index: 30;
            top: 0;
            left: 0;
            overflow: scroll;
            width: 100%;
            min-height: 100vh;
            min-height: -webkit-fill-available;
            transform: translateX($menu-transform-distance);
        }

        @include desktop-menu {
            @include layout-padding-bottom;

            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            padding-top: 183px;
            background: color('white');
            color: $base-color;
            transform: translateY($menu-transform-distance);
        }
    }

    .sub-menu-inner {
        @include container;

        position: relative;
        width: width('normal');
    }

    .sub-menu {
        @include desktop-menu {
            padding-right: 30%;
            margin-left: auto;
            column-gap: space('gutter');
            column-width: 230px;
        }

        li {
            @include desktop-menu {
                margin-bottom: 0.5em;
            }

            &:not(.menu-heading) {
                a {
                    @include desktop-menu {
                        font-weight: normal;
                    }
                }
            }
        }
    }

    .menu-heading {
        @include mobile-menu {
            position: relative;
            padding-bottom: $mobile-menu-item-space;
            border-bottom: 1px solid currentColor;
            margin-bottom: $mobile-menu-item-space;
            font-weight: bold;
        }

        @include desktop-menu {
            position: absolute;
            top: -15px;
            left: space('gutter') / 2;
            font-family: argent;
            font-size: em(42);
            line-height: $heading-line-height;
            pointer-events: none;
        }

        > a {
            @include mobile-menu {
                &::after {
                    @include supports-mask {
                        position: absolute;
                        top: 0.2em;
                        left: 0;
                        width: 1em;
                        height: 1em;
                        background: currentColor;
                        content: '';
                        mask-image: url('../images/arrow.svg');
                        mask-position: center;
                        mask-repeat: no-repeat;
                        mask-size: contain;
                        transform: rotate(180deg);
                    }
                }
            }

            @include desktop-menu {
                cursor: default;
            }

            &::before {
                display: none;
            }
        }
    }
}
