.widecard {
    @include layout-margin;
    @include layout-padding;

    position: relative;

    &::before {
        position: absolute;
        z-index: -1;
        top: 0;
        right: -9999px;
        bottom: 0;
        left: -9999px;
        background: color('grey');
        content: '';
    }

    .c-card {
        &__heading {
            @include mq($primary-breakpoint) {
                font-size: em(30);
            }
        }

        &__media {
            &::before {
                @include mq($primary-breakpoint) {
                    padding-top: ratio(21, 9);
                }
            }
        }
    }

    .wysiwyg--grey + & {
        padding-top: 0;
    }
}
