.overview {
    $gutter: 90px;
    $iconsize: 25px;

    @include box-shadow;
    @include layout-margin(0.8);
    @include no-first-last-margin;

    width: 816px;
    max-width: 100%;

    padding: $gutter / 4;
    border-radius: $base-border-radius;

    @include mq($primary-breakpoint) {
        padding: $gutter / 2;
    }

    &__heading {
        margin-bottom: 1em;
        font-family: argent;
        font-size: em(20, $mobile-font-size);
        line-height: $heading-line-height;

        @include mq($primary-breakpoint) {
            font-size: em(30);
        }
    }

    &__items {
        position: relative;
        font-size: em(14, $mobile-font-size);

        @include mq($primary-breakpoint) {
            font-size: inherit;
        }
    }

    &__item {
        position: relative;
        margin-bottom: space('paragraph');
        padding-left: calc(#{$iconsize} + 1em);

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: $iconsize;
            height: $iconsize;
            margin-bottom: space('paragraph');
            mask-image: var(--iconurl);
            mask-position: top left;
            mask-repeat: no-repeat;
            mask-size: contain;
            content: '';
            background: color('orange');

            .theme--blue & {
                background: color('mediumblue');
            }

            .theme--purple & {
                background: color('mediumpurple');
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        &-content {
            @include no-first-last-margin;

            font-weight: bold;
        }
    }

    &__content {
        @include no-first-last-margin;

        margin-top: space('paragraph');
    }
}
