@import 'leaflet/dist/leaflet.css';

.map {
    @include layout-margin;

    position: relative;
    z-index: 1;
    display: block;
    overflow: hidden;
    padding-top: ratio(1, 1);
    background: color('black');

    @include mq($primary-breakpoint) {
        padding-top: 45%;
    }

    @include mq(large) {
        padding-top: 30%;
    }

    &__map {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .leaflet-tile-pane {
        filter: grayscale(1);
    }

    .leaflet-marker-icon {
        cursor: grab;
    }

    .infowindow {
        color: $base-color;
        font-family: $base-font-family;
        font-size: rem($mobile-font-size);
        font-weight: $base-font-weight;
        line-height: $base-line-height;

        @include mq($primary-breakpoint) {
            font-size: rem($base-font-size);
        }

        .theme--blue & {
            color: color('mediumblue');
        }

        .theme--purple & {
            color: color('mediumpurple');
        }

        a {
            color: inherit;
        }

        &__roles {
            @include list-reset-hard;

            font-size: 0.8em;

            li {
                padding-top: 0.5em;
                padding-bottom: 0.5em;
                border-bottom: 1px solid color('grey');

                &:last-child {
                    border-bottom: 0;
                }
            }

            a {
                @include hover-link;
                @include arrow-link;
            }
        }
    }
}
