@mixin arrow-link {
    @include hover-link;

    font-weight: 600;
    text-decoration: none;

    @include supports-mask {
        display: inline-flex;
        align-items: center;

        &::before {
            background: currentColor;
        }

        &::after {
            width: em(23);
            height: em(8);
            margin-left: 0.5em;
            background-color: currentColor;
            content: '';
            mask-image: url('../images/arrow.svg');
            mask-position: center;
            mask-repeat: no-repeat;
            mask-size: contain;
            flex-shrink: 0;
        }
    }
}
