@mixin blockquote {
    @include no-first-last-margin;
    @include layout-margin(0.5);

    padding: space('paragraph');
    border-left: (space('paragraph') / 2) solid currentColor;
    margin-right: 0;
    margin-left: 0;
}
