@mixin ghost-button {
    $border: 1px;

    @include button-base($border);

    position: relative;
    border: solid $border color('orange');
    background: rgba(color('white'), 0.2);
    color: color('orange');
    transition: transition(background, color, transform);

    .theme--blue & {
        color: color('darkblue');
        border-color: color('darkblue');
    }

    .theme--purple & {
        color: color('darkpurple');
        border-color: color('darkpurple');
    }

    &::before,
    &::after {
        display: none;
    }

    @include interact {
        background: color('orange');
        color: color('white');

        .theme--blue & {
            background: color('darkblue');
        }

        .theme--purple & {
            background: color('darkpurple');
        }
    }
}

@mixin orange-button {
    @include button-base;

    background: color('orange');
    color: color('white');
    transition: transition(background, color);
    border: 1px solid color('white');

    &::before,
    &::after {
        display: none;
    }

    @include interact {
        background: rgba(color('white'), 0.2);
    }
}

@mixin blue-button {
    @include button-base;

    background: color('mediumblue');
    color: color('white');
    transition: transition(background, color);
    border: 1px solid color('white');

    &::before,
    &::after {
        display: none;
    }

    @include interact {
        background: rgba(color('white'), 0.2);
    }
}

@mixin purple-button {
    @include button-base;

    background: color('mediumpurple');
    color: color('white');
    transition: transition(background, color);
    border: 1px solid color('white');

    &::before,
    &::after {
        display: none;
    }

    @include interact {
        background: rgba(color('white'), 0.2);
    }
}

@mixin button {
    @include button-base;

    position: relative;
    z-index: 1;
    overflow: hidden;
    color: color('white');
    transition: transition(background, color, transform);

    @include interact {
        color: color('white');

        &::after {
            opacity: 1;
        }
    }

    &::before,
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        transition: transition(opacity, filter);
    }

    &::before {
        @include themed-gradient(90deg);

        z-index: -2;
    }

    &::after {
        @include themed-gradient(-90deg);

        z-index: -1;
        opacity: 0;
    }
}

@mixin button-padding($offset: 0) {
    padding: calc(0.6em - #{$offset}) 1.3em calc(0.5em - #{$offset});

    @include mq($primary-breakpoint) {
        padding: calc(0.6em - #{$offset}) 1.92em calc(0.5em - #{$offset});
    }
}

@mixin button-base($offset: 0) {
    @include button-padding($offset);

    display: inline-block;
    border: 0;
    border-radius: 9999px;
    cursor: pointer;
    // transition: transition(background, color);
    font-size: inherit;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    text-decoration: none; // Remove the underline if this is an a tag
    vertical-align: middle; // Removes line height issues with inline-block
}

@mixin button-color(
    $text: color('white'),
    $background: color('black'),
    $border: color('black')
) {
    border-color: $border;
    background-color: $background;
    color: $text;
}
