@function gradient-value($rotation: 0deg, $start: color('yellow'), $middle: color('orange'),  $end: color('red')) {
    @if $middle == false {
        @return $rotation, $start, $end;
    }

    @return $rotation, $start, $middle, $end;
}

@function gradient-blue-value($rotation: 0deg, $start: color('lightblue'), $middle: color('mediumblue'),  $end: color('darkblue')) {
    @return gradient-value($rotation, $start, $middle, $end);
}

@function gradient-purple-value($rotation: 0deg, $start: color('lightpurple'), $middle: color('mediumpurple'),  $end: color('darkpurple')) {
    @return gradient-value($rotation, $start, $middle, $end);
}

@function gradient($rotation: 0deg, $start: color('yellow'), $middle: color('orange'),  $end: color('red')) {

    // @if $middle = false {
    //     @return linear-gradient(gradient-value($rotation, $start, $middle, $end));
    // }

    @return linear-gradient(gradient-value($rotation, $start, $middle, $end));
}

@mixin gradient($rotation: 0deg, $start: color('yellow'), $middle: color('orange'),  $end: color('red')) {
    background: $end;
    background: gradient($rotation, $start, $middle, $end);
}

@mixin orange-gradient($rotation: 0deg) {
    @include gradient(
        $rotation: $rotation,
        $start: color('yellow'),
        $middle: color('orange'),
        $end: color('red')
    );
}

@mixin blue-gradient($rotation: 0deg) {
    @include gradient(
        $rotation: $rotation,
        $start: color('lightblue'),
        $middle: color('mediumblue'),
        $end: color('darkblue')
    );
}

@mixin purple-gradient($rotation: 0deg) {
    @include gradient(
        $rotation: $rotation,
        $start: color('lightpurple'),
        $middle: color('mediumpurple'),
        $end: color('darkpurple')
    );
}

@mixin themed-gradient($rotation: 0deg) {
    @include orange-gradient($rotation);

    .theme--blue & {
        @include blue-gradient($rotation);
    }

    .theme--purple & {
        @include purple-gradient($rotation);
    }
}
