@mixin hover-link($thickness: 2px) {
    position: relative;
    font-weight: 600;
    text-decoration: none;

    @include interact {
        &::before {
            transform: scaleX(1);
        }
    }

    &::before {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: $thickness;
        background: currentColor;
        border-radius: 9999px;
        content: '';
        transform: scaleX(0);
        transform-origin: 0 0;
        transition: transition(transform);
    }
}
