@mixin input {
    @include no-focus;

    display: block;
    width: 100%;
    padding: $input-padding;
    border: $input-border-thickness solid $input-border-color;
    background-color: $input-background;
    border-radius: 9999px;
    box-shadow: none; // Fix iOS inconsistencies
    color: $input-color;
    font-family: inherit; // normalize for some reason makes an opinionated call and sets this to something other than inherit...
    line-height: inherit; // normalize for some reason makes an opinionated call and sets this to something other than inherit...
    transition: transition(border-color);
}
