@mixin section-heading($gradient: true) {
    @include heading-attributes;

    margin-top: 0;
    margin-bottom: 0.5em;
    color: color('red');
    font-family: inherit;
    font-size: em(26, $mobile-font-size);
    font-style: italic;

    .theme--blue & {
        color: color('darkblue');
    }

    .theme--purple & {
        color: color('darkpurple');
    }

    @if $gradient {
        background: -webkit-linear-gradient(gradient-value(12deg));

        .theme--blue & {
            background: -webkit-linear-gradient(gradient-blue-value(12deg));
        }

        .theme--purple & {
            background: -webkit-linear-gradient(gradient-purple-value(12deg));
        }

        position: relative;
        transform: translateZ(1px);
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent;
    }

    @include mq($primary-breakpoint) {
        margin-bottom: 1em;
    }

    @include mq($primary-breakpoint) {
        font-size: em(42);
    }
}
