.gform_wrapper {
    @include layout-margin-top(0.5);
}

// ------------------------------------------------
// Fields wrapper
// ------------------------------------------------
.gform_fields {
    @include list-reset;
    @include make-row;

    > * {
        @include make-column;
    }
}

// ------------------------------------------------
// Field wrapper
// ------------------------------------------------
.gfield {
    width: 100%;
}

.gfield_label {
    margin-bottom: 0.75em;
    color: inherit;
    font-size: em(22);
    font-style: italic;
    font-weight: $heading-font-weight;
}

.ginput_container {
    margin-bottom: space('paragraph');

    &_address,
    &_name {
        margin-bottom: 0;
    }
}

.gfield_checkbox,
.gfield_radio {
    @include list-reset;

    li {
        position: relative;
    }

    input {
        position: absolute;
        top: 0.35rem;
        left: 0;

        @include mq(medium) {
            top: 0.45rem;
        }
    }

    label {
        margin-top: 0;
        margin-left: 2em;
    }
}

.ginput_complex {
    @include make-row;

    > * {
        @include make-column;

        flex-grow: 1;
        margin-bottom: space('paragraph') / 2;
    }
}

.ginput_full {
    width: 100%;
}

.ginput_left,
.ginput_right {
    @include mq('medium') {
        width: 50%;
    }
}

.gfield_description {
    margin-bottom: space('paragraph') / 2;
}

.ginput_container_select {
    @if $input-custom-select==true {
        position: relative;

        &::after {
            position: absolute;
            top: 50%;
            right: 1em;
            display: block;
            width: 0.5em;
            height: 0.5em;
            border-top: $input-border-thickness solid currentColor;
            border-left: $input-border-thickness solid currentColor;
            content: '';
            pointer-events: none;
            transform: translateY(-75%) rotate(-135deg);
        }
    }
}

.validation_error {
    padding: 1em;
    border: 1px solid currentColor;
    margin-bottom: $input-gap;
    text-align: center;
}

.gf_progressbar {
    position: relative;
    overflow: hidden;
    color: color('white');
    font-weight: bold;
    text-align: center;

    &_percentage {
        @include themed-gradient(45deg);

        padding: 0.25em;
        border-radius: $base-border-radius;
    }

    &_wrapper {
        margin-bottom: space('paragraph');
    }
}

.percentbar_0 {
    // So we need to override the default width of the percentbar when it is at 0%
    // This is so we can center the text in the whole percentbar
    width: 100% !important;
}

.gform_page_fields {
    @include no-first-last-margin;
}

.clear-multi {
    @include mq(medium) {
        @include make-row;
    }

    > * {
        @include mq(medium) {
            @include make-column;
        }
    }

    .ginput_container {
        @include mq(medium) {
            flex-grow: 1;
        }
    }
}

.gfield_date_dropdown_month,
.gfield_date_dropdown_day,
.gfield_date_dropdown_year {
    position: relative;

    &::after {
        position: absolute;
        top: 50%;
        right: 1em;
        display: block;
        width: 0.5em;
        height: 0.5em;
        border-top: $input-border-thickness solid currentColor;
        border-left: $input-border-thickness solid currentColor;
        content: '';
        pointer-events: none;
        transform: translateY(-75%) rotate(-135deg);
    }
}

.address_country {
    @if $input-custom-select==true {
        position: relative;

        &::after {
            position: absolute;
            top: $input-padding * 1.5;
            right: calc(#{space(gutter) / 2} + 1em);
            display: block;
            width: 0.5em;
            height: 0.5em;
            border-top: $input-border-thickness solid currentColor;
            border-left: $input-border-thickness solid currentColor;
            content: '';
            pointer-events: none;
            transform: translateY(-50%) rotate(-135deg);
        }
    }
}

.gf_clear {
    display: none;
}

.ginput_list {
    thead,
    tr,
    th,
    td {
        border: 0;
    }

    tr {
        @include make-row;

        align-items: center;

        > * {
            @include make-column;
        }
    }

    th,
    td {
        flex-grow: 1;
        padding-top: 0;
        padding-bottom: 0;
        border: 0;

        &:last-child {
            width: 1em*5;
            flex-grow: 0;
        }
    }
}

.gfield_list_group {
    margin-bottom: space(gutter) / 2;

    &:last-child {
        margin-bottom: 0;
    }
}

.gfield_list_icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add_list_item,
.delete_list_item {
    // For these styles to be applied we rely on a gravity forms
    // hack/filter which removes the style tags from the output
    // HAPPY DAYS
    @include no-focus;

    width: 1em;
    transition: transition(transform);

    &:hover {
        transform: rotate(180deg);
    }
}

.ui-datepicker {
    background: color('white');
    border-radius: $base-border-radius;

    &-header {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: space('paragraph') / 2;
    }

    &-prev,
    &-next {
        width: 50%;
        text-align: center;
        text-decoration: none;
    }

    &-title {
        display: flex;
        width: 100%;
    }

    &-calendar {
        th,
        td {
            padding: 0;

            span,
            a {
                display: block;
                padding: 0.25rem 0.5rem;
            }

            a {
                text-decoration: none;
            }
        }
    }
}

// .ui-widget {}

// .ui-widget-content {}

// .ui-helper-clearfix {}

// .ui-corner-all {}

// By Default sub labels are below the inputs
// This styling handles when the labels are below
.field_sublabel_above {
    .address_country {
        &::after {
            @if $input-custom-select==true {
                top: auto;
                bottom: $input-padding * 1.5;
            }
        }
    }
}

.field_sublabel_below {
    .ginput_container:not(.ginput_container_checkbox):not(.ginput_container_radio) {
        label {
            margin-top: $label-spacing;
            margin-bottom: 0;
        }
    }
}

.gform_previous_button {
    @include ghost-button;

    color: inherit;

    &::before,
    &::after {
        display: none;
    }
}

.gform_validation_errors {
    display: none;
}

.gform_hidden {
    display: none;
}
