.counterblock {
    @include layout-margin;
    @include layout-padding;

    position: relative;
    z-index: 1;
    background-color: color('grey');

    &__wrap {
        @include container;

        max-width: width('normal');
    }

    &__inner {
        @include no-first-last-margin;

        width: 456px;
        max-width: 100%;
    }

    &__heading {
        @include section-heading;
    }

    &__counter {
        position: relative;
        z-index: 1;
        width: 100%;
        max-width: 360px;

        &::before {
            display: block;
            padding-top: 100%;
            content: '';
        }

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: em(80);
            font-weight: bold;
            transform: translateX(-50%) translateY(-50%);
        }

        &-images {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            img {
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                animation-duration: 10000ms;
                animation-iteration-count: infinite;
                animation-name: spin;
                animation-timing-function: linear;
                transform: translateX(-50%) translateY(-50%);
                transform-origin: center center;

                &:nth-child(2) {
                    z-index: -2;
                    animation-duration: 9800ms;
                }

                &:nth-child(3) {
                    z-index: -3;
                    animation-duration: 9600ms;
                }

                &:nth-child(4) {
                    z-index: -4;
                    animation-duration: 9400ms;
                }
            }
        }
    }

    &__footer {
        @include no-first-last-margin;
        @include layout-margin-top(0.5);

        padding-top: 100%;
        text-align: center;

        @include mq($primary-breakpoint) {
            padding-top: 0;
        }

        a {
            &:only-child {
                width: 100%;

                @include mq($primary-breakpoint) {
                    width: auto;
                }
            }
        }
    }

    &__media {
        position: absolute;
        z-index: -1;
        top: 35%;
        right: 0;
        bottom: 0;
        left: 0;

        @include mq($primary-breakpoint) {
            top: 0;
        }

        > * {
            &:first-child:not(:only-child) {
                display: none;

                @include mq($primary-breakpoint) {
                    display: block;
                }
            }

            &:nth-child(2) {
                @include mq($primary-breakpoint) {
                    display: none;
                }
            }
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
