.accordion {
    @include layout-margin;

    display: flex;
    flex-direction: column;

    @include mq('medium') {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__main {
        display: contents;

        @include mq($primary-breakpoint) {
            display: flex;
            width: 100% - $secondary - $gap;
            flex-direction: column;
        }

        &:only-child {
            width: 100%;
        }
    }

    &__heading {
        @include section-heading;

        margin-bottom: 0.25em;
        padding-left: 10px;
        margin-left: -10px;

        @include mq($primary-breakpoint) {
            margin-bottom: 30px;
        }
    }

    &__meta {
        order: -2;
    }

    &__item {
        border-top: 1px solid color('grey');

        &[open] {
            .accordion__item-heading {
                color: color('orange');

                &::after {
                    filter: brightness(1);
                    transform: rotate(180deg) scaleY(-1);
                }

                .theme--blue & {
                    color: color('mediumblue');
                }

                .theme--purple & {
                    color: color('mediumpurple');
                }
            }
        }

        &:first-child {
            border-top: 0;
        }

        &-heading {
            @include no-focus;

            position: relative;
            padding-top: 1em;
            padding-right: 2em;
            padding-bottom: 1em;
            font-family: $heading-font-family;
            font-size: em(20, $mobile-font-size);
            line-height: $heading-line-height;
            list-style: none;
            transition: transition(color);

            @include mq($primary-breakpoint) {
                font-size: em(30);
            }

            &::-webkit-details-marker {
                display: none;
            }

            &::after {
                position: absolute;
                top: 1.2em;
                right: 0;
                width: 1em;
                height: 1em;
                background-image: url('../images/chevron.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                content: '';
                filter: brightness(0);
                transform: rotate(180deg);
                transition: transition(filter, transform);

                @include supports-mask {
                    background: currentColor;
                    mask-image: url('../images/chevron.svg');
                    mask-position: center;
                    mask-repeat: no-repeat;
                    mask-size: contain;
                }
            }
        }

        &-content {
            @include no-first-last-margin;

            padding-bottom: 1em;
        }
    }

    &__media {
        display: block;
        order: -1;
        margin-bottom: 1rem;

        @include mq($primary-breakpoint) {
            width: $secondary;
            margin-bottom: 0;
            flex-grow: 0;
            flex-shrink: 0;
            order: initial;
        }

        &::before {
            display: block;
            padding-top: ratio(1, 1);
            content: '';
        }

        img {
            border-radius: $base-border-radius;
        }
    }

    &--reverse {
        @include mq($primary-breakpoint) {
            flex-direction: row-reverse;
        }

        .shape {
            &::after {
                right: 50%;
                left: auto;
            }
        }
    }
}
