.hover-card {
    $vertical-transform: 190px;
    $desktop-side-space: 10px;

    position: relative;
    z-index: 1;
    display: block;
    color: color('white');

    @include mq($primary-breakpoint) {
        padding: 148% $base-border-radius $base-border-radius;
    }

    @include interact {
        @include mq($primary-breakpoint) {
            z-index: 2;
        }

        &::before {
            @include mq($primary-breakpoint) {
                opacity: 1;
                transform: scaleX(1.14) scaleY(1.19);
            }
        }

        .hover-card {
            &__icon,
            &__heading,
            &__content,
            &__link {
                @include mq($primary-breakpoint) {
                    transform: translateX(0) translateY(0);
                }
            }

            &__content,
            &__link {
                @include mq($primary-breakpoint) {
                    opacity: 1;
                }
            }
        }
    }

    &::before {
        @include themed-gradient(-180deg);

        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        overflow: hidden;
        width: 100%;
        height: 100%;
        border-radius: $base-border-radius;
        content: '';
        opacity: 0;
        transition: transition(opacity, transform);
    }

    &__inner {
        display: flex;
        flex-direction: column;
        padding: 1em;

        @include mq($primary-breakpoint) {
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            width: 100%;
            height: 100%;
            padding: 0 $desktop-side-space;
            transform: translateY(-10px);
        }
    }

    &__icon {
        width: 31px;
        margin-bottom: 1em;

        @include mq($primary-breakpoint) {
            width: 55px;
            margin-bottom: 80px;
        }

        @include mq($primary-breakpoint) {
            transform: translateX(20px) translateY(40px);
            transition: transition(transform);
        }

        &::before {
            display: block;
            padding-top: 100%;
            content: '';
        }

        img {
            object-fit: contain;
        }
    }

    &__heading {
        @include section-heading($gradient:false);

        margin-bottom: 1em;
        color: inherit;
        font-size: 24px;

        @include mq($primary-breakpoint) {
            padding-right: 20px;
            font-size: em(30);
            transform: translateX(20px) translateY($vertical-transform);
            transition: transition(transform);
        }

        a {
            @include hover-link;
        }

        .theme--blue & {
            color: color('white');
        }

        .theme--purple & {
            color: color('white');
            border-color: color('white');
        }
    }

    &__content {
        @include no-first-last-margin;

        display: none;
        opacity: 0;
        transform: translateY($vertical-transform);
        transition: transition(opacity, transform);

        @include mq($primary-breakpoint) {
            display: block;
        }

        > * {
            margin-top: 0;

            &:last-child {
                margin-top: auto;
            }
        }
    }

    &__link {

        margin-top: auto;
        margin-bottom: 0;

        @include mq($primary-breakpoint) {
            position: absolute;
            bottom: 0;
            left: $desktop-side-space;
            padding-bottom: 2px; // just enough to show the hover link
            margin-top: 0;
            margin-bottom: 0;
            opacity: 0;
            transform: translateY($vertical-transform);
            transition: transition(opacity, transform);
        }

        > a {
            &:only-child {
                @include hover-link;
                @include arrow-link;
            }
        }
    }

    &__media {
        position: absolute;
        z-index: -2;
        top: 0;
        left: 0;
        overflow: hidden;
        width: 100%;
        height: 100%;
        border-radius: $base-border-radius;

        &::before {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(-30deg, rgba(226, 41, 76, 0.8), rgba(235, 118, 4, 0.7), rgba(255, 207, 3, 0.4));
            content: '';

            .theme--blue & {
                background-image: linear-gradient(-30deg, rgba(color('darkblue'), 0.8), rgba(color('mediumblue'), 0.7), rgba(color('lightblue'), 0.4));
            }

            .theme--purple & {
                background-image: linear-gradient(-30deg, rgba(color('darkpurple'), 0.8), rgba(color('mediumpurple'), 0.7), rgba(color('lightpurple'), 0.4));
            }
        }
    }
}
