.twocolumns {
    @include layout-margin;

    &__row {
        @include mq($primary-breakpoint) {
            @include make-row;

            flex-wrap: nowrap;
        }
    }

    &__col {
        @include no-first-last-margin;

        margin-top: space('paragraph');

        @include mq($primary-breakpoint) {
            @include make-column;

            margin-top: 0;
        }

        &:first-child {
            margin-top: 0;
        }

        &--left {
            @include mq($primary-breakpoint) {
                width: 415px;
            }
        }

        &--right {
            @include mq($primary-breakpoint) {
                width: 439px;
                margin-right: auto;
                margin-left: auto;
            }
        }
    }

    &__left-heading {
        @include section-heading;
    }

    &.twocolumns {
        &:first-child {
            @include layout-margin-pull(0.5);
        }

        &:only-child {
            @include layout-margin-pull-bottom(0.5);
        }
    }

    .icon-list {
        @include layout-padding-bottom(0.5);

        border-bottom: 1px solid color('grey');

        + * {
            font-size: $base-small-size;
        }
    }
}
