.navigation {
    @include layout-margin;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    > * {
        margin-right: 1em;

        &:not(.prev):not(.next) {
            @include hover-link;

            padding: 0 0.5em;

            &.current {
                &::before {
                    transform: scaleX(1);
                }
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .prev,
    .next {
        @include button;
    }
}
