.role-archive {
    @include layout-margin;

    display: flex;
    flex-direction: column;

    .map {
        order: -1;
        margin-top: 0;
    }

    .roles-list {
        z-index: 2;
        margin-bottom: 0;
    }
}
