.selecturl {
    position: relative;
    display: inline-block;
    padding-right: 1em;
    font-size: 16px;
    font-weight: bold;

    &::after {
        position: absolute;
        top: 50%;
        right: 0;
        width: 0.5em;
        height: 0.5em;
        border-top: 1px solid currentColor;
        border-right: 1px solid currentColor;
        content: '';
        transform: translateY(-85%) rotate(135deg);
    }

    select {
        width: auto;
        padding: 0;
        border: 0;
        border-radius: 0;
        direction: rtl;
        font-weight: inherit;

        option {
            direction: ltr;
        }
    }
}
