@mixin burger($size: 1em, $thickness: 2px, $color: currentColor) {
    @include button-reset;
    @include no-focus;

    position: relative;
    display: block;
    overflow: hidden;
    width: $size;
    height: $size;

    @include interact {
        color: inherit;
    }

    &::before,
    &::after {
        display: none;
    }

    &__line {
        position: absolute;
        display: block;
        width: 200%;
        height: $thickness;
        background-color: $color;
        transition: transition(opacity, transform, top);

        &--1 {
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        &--2 {
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        &--3 {
            top: 100%;
            left: 50%;
            transform: translateY(-100%);
        }
    }
}

@mixin burger-hover {
    .burger__line {
        &--1 {
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%) rotate(90deg);
        }

        &--2 {
            opacity: 0;
        }

        &--3 {
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%) rotate(180deg);
        }
    }
}

@mixin burger-active {
    .burger__line {
        &--1 {
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%) rotate(45deg);
        }

        &--2 {
            opacity: 0;
        }

        &--3 {
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%) rotate(-45deg);
        }
    }
}
