// -------------------------------------------------------------------------
// Form styling
// -------------------------------------------------------------------------
.gform_wrapper {
    max-width: 743px;
}

.gf_progressbar_wrapper {
    display: none;
}

.gform_heading {
    @include no-first-last-margin;

    margin-top: 2em;
}

.gform_title {
    color: inherit;
}

input,
textarea,
select {
    border-color: currentColor;
    background: rgba(color('white'), 0.2);
    color: inherit;
}

.gform_next_button {
    @include orange-button;

    .theme--blue & {
        @include blue-button;
    }

    .theme--purple & {
        @include purple-button;
    }
}
