$overlay-breakpoint: large;

.overlay {
    $gradient-rotation: -70deg;

    @include layout-margin;

    position: relative;
    color: color('white');

    &__outer-wrap {
        padding-top: 155px;
        padding-bottom: 180px;

        @include mq($primary-breakpoint) {
            padding-top: 220px;
            padding-bottom: 210px;
        }

        @include mq($overlay-breakpoint) {
            padding-top: 275px;
            padding-bottom: 150px;
        }

        &::before {
            @include orange-gradient($gradient-rotation);

            .theme--blue & {
                @include blue-gradient($gradient-rotation + 180deg);
            }

            .theme--purple & {
                @include purple-gradient($gradient-rotation + 180deg);
            }

            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            mask-image: url('../images/overlay-mobile.svg');
            mask-position: bottom center;
            mask-repeat: no-repeat;
            mask-size: cover;
            content: '';

            .theme--blue & {
                mask-image: url('../images/overlay-mobile-blue.svg');
            }

            .theme--purple & {
                mask-image: url('../images/overlay-mobile-purple.svg');
            }

            @include mq($overlay-breakpoint) {
                mask-image: url('../images/overlay.svg');

                .theme--blue & {
                    mask-image: url('../images/overlay-blue.svg');
                }

                .theme--purple & {
                    mask-image: url('../images/overlay-purple.svg');
                }
            }
        }
    }

    &__wrap {
        @include container;

        position: relative;
        width: width('normal');
    }

    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__heading {
        @include section-heading($gradient:false);

        max-width: 553px;
        margin-bottom: 0.3em !important;
        color: inherit;
        font-family: $base-serif;
        font-style: normal;
        line-height: 1;

        .theme--blue & {
            color: color('white');
        }

        .theme--purple & {
            color: color('white');
        }
    }

    &__meta {
        order: -1;

        .tag {
            &::before {
                filter: brightness(0) invert(1);
            }
        }
    }

    &__content {
        @include no-first-last-margin;

        width: 1140px;
        max-width: 100%;

        @include mq($overlay-breakpoint) {
            > * {
                &:not(.gform_wrapper) {
                    font-size: em(20);
                }
            }
        }

        a {
            @include hover-link;
            @include arrow-link;
        }
    }

    &__media {
        display: none;
        margin-top: space('gutter') / 2;
        margin-right: -35vw;
        margin-bottom: -90%;

        @include mq($overlay-breakpoint) {
            position: absolute;
            top: -40px;
            left: 59%;
            width: 708px;
            margin-top: 0;
            margin-right: 0;
        }

        img,
        video {
            @include supports-mask {
                mask-image: url('../images/mask-single.svg');
                mask-position: left center;
                mask-repeat: no-repeat;
                mask-size: contain;

                .theme--blue & {
                    mask-image: url('../images/mask-single-blue.svg');
                }

                .theme--purple & {
                    mask-image: url('../images/mask-single-purple.svg');
                }
            }
        }

        video {
            z-index: 2;
            display: none;

            @include mq($overlay-breakpoint) {
                display: block;
            }
        }

        &::before {
            display: block;
            padding-top: ratio(6, 4);
            padding-top: 72.8%; // This is the explicit ratio of the mask
            content: '';
        }
    }

    // -------------------------------------------------------------------------
    // This class is added to the overlay when there is media
    // -------------------------------------------------------------------------
    &--media {
        @include mq($until: $overlay-breakpoint) {
            margin-bottom: 55%;
        }

        .overlay {
            &__outer-wrap {
                &::before {
                    @include mq($overlay-breakpoint) {
                        background-image: url('../images/overlay-media.svg');
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: bottom center;
                        mask-image: url('../images/overlay-media.svg');

                        .theme--blue & {
                            background-image: url('../images/overlay-media-blue.svg');
                            mask-image: url('../images/overlay-media-blue.svg');
                        }

                        .theme--purple & {
                            background-image: url('../images/overlay-media-purple.svg');
                            mask-image: url('../images/overlay-media-purple.svg');
                        }
                    }
                }
            }

            &__inner {
                @include mq($overlay-breakpoint) {
                    width: 50%;
                    max-width: 608px; // Random width to get things to wrap nicely
                }
            }

            &__media {
                display: block;
            }
        }
    }

    // -------------------------------------------------------------------------
    // This class is added when there is media and the complex parameter is true
    // This is the primary checkbox in wordpress
    // -------------------------------------------------------------------------
    &--complex {
        @include mq($until: $overlay-breakpoint) {
            margin-bottom: 0;
        }

        &:not(.has-loaded) {
            &::before,
            &::after {
                opacity: 0;
                transform: translateY(-10px);
            }
        }

        &::before,
        &::after {
            @include mq($overlay-breakpoint) {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-position: bottom center;
                background-repeat: no-repeat;
                background-size: cover;
                content: '';
                transition: transition(opacity, transform);
                transform: translateY(0);
            }
        }

        &::before {
            z-index: -1;
            background-image: url('../images/overlay-complex-middle.svg');
            opacity: 0.3;

            .theme--blue & {
                background-image: url('../images/overlay-complex-middle-blue.svg');
            }

            .theme--purple & {
                background-image: url('../images/overlay-complex-middle-purple.svg');
            }
        }

        &::after {
            z-index: -2;
            background-image: url('../images/overlay-complex-bottom.svg');
            opacity: 0.75;
            transition-delay: 0.25s;

            .theme--blue & {
                background-image: url('../images/overlay-complex-bottom-blue.svg');
            }

            .theme--purple & {
                background-image: url('../images/overlay-complex-bottom-purple.svg');
            }
        }

        .overlay {
            &__outer-wrap {
                @include themed-gradient($gradient-rotation);

                padding-bottom: 130px;

                @include mq($overlay-breakpoint) {
                    padding-bottom: 260px;
                }

                @include supports-mask {
                    mask-image: url('../images/overlay-mobile.svg');
                    mask-position: bottom center;
                    mask-repeat: no-repeat;
                    mask-size: cover;

                    .theme--blue & {
                        mask-image: url('../images/overlay-mobile-blue.svg');
                    }

                    .theme--purple & {
                        mask-image: url('../images/overlay-mobile-purple.svg');
                    }
                }

                @include mq($overlay-breakpoint) {
                    padding-bottom: 360px;

                    @include supports-mask {
                        mask-image: url('../images/overlay-complex-top.svg');

                        .theme--blue & {
                            mask-image: url('../images/overlay-complex-top-blue.svg');
                        }

                        .theme--purple & {
                            mask-image: url('../images/overlay-complex-top-purple.svg');
                        }
                    }
                }

                &::before {
                    display: none;
                }
            }

            &__inner {
                @include mq(large) {
                    max-width: 495px; // Random width to get things to wrap nicely
                    margin-left: auto;
                }
            }

            &__heading {
                font-size: em(42, $mobile-font-size);

                @include mq($overlay-breakpoint) {
                    font-size: em(85);
                }
            }

            &__media {
                display: block;
                margin-right: 0;
                margin-bottom: -60%;
                margin-left: -80vw;

                @include mq(medium) {
                    margin-bottom: -50%;
                    margin-left: -70vw;
                }

                @include mq($overlay-breakpoint) {
                    top: -5px;
                    right: 53%;
                    left: auto;
                    width: 1195px;
                    margin-top: 0;
                    margin-bottom: -60%;
                    margin-left: -80vw;
                }

                img,
                video {
                    @include supports-mask {
                        mask-image: url('../images/symbol.svg');
                        mask-position: right top;
                    }
                }
            }
        }
    }

    @supports (-ms-ime-align:auto) {
        video {
            display: none;
        }
    }

    @import 'forms';
}
