.pills {
    $gap: space('gutter') / 2;

    @include list-reset;
    @include make-row($gap);

    align-items: center;

    &::before {
        @include make-column($gap);

        content: attr(data-heading);
    }

    > * {
        @include make-column($gap);
    }
}

.pill {
    @include button-base;

    background: rgba(color('white'), 0.2);
    transition: transition(background, color);

    @include interact {
        background: rgba(color('white'), 1);
        color: color('red');

        .theme--blue & {
            color: color('mediumblue');
        }

        .theme--purple & {
            color: color('mediumpurple');
        }
    }

    &.active {
        background: rgba(color('white'), 1);
        color: color('red');

        .theme--blue & {
            color: color('mediumblue');
        }

        .theme--purple & {
            color: color('mediumpurple');
        }
    }
}
