.social-icons {
    $gutter: space('gutter') / 4;

    &__heading {
        font-size: em(16);
        font-weight: bold;
    }

    &__icons {
        @include list-reset-hard;
        @include make-row($gutter);

        justify-content: space-between;

        > li {
            @include make-column($gutter);
        }

        a {
            position: relative;
            display: block;
            width: em(30, $mobile-font-size);
            height: em(30, $mobile-font-size);
            border: 2px solid currentColor;
            border-radius: 9999px;
            transition: transition(color);

            @include mq($primary-breakpoint) {
                width: em(42);
                height: em(42);
            }

            @include interact {
                color: color('orange');

                .theme--blue & {
                    color: color('mediumblue');
                }

                .theme--purple & {
                    color: color('mediumpurple');
                }
            }

            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                max-width: 50%;
                max-height: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
        }
    }
}
