.tag {
    @include layout-margin-bottom(0.4);

    font-family: $base-serif;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    &::before {
        display: inline-block;
        width: 1em;
        height: 1em;
        margin-right: 0.5em;
        background-image: url('../images/symbol.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        vertical-align: text-bottom;

        .theme--blue & {
            background-image: url('../images/symbol-blue.svg');
        }

        .theme--purple & {
            background-image: url('../images/symbol-purple.svg');
        }
    }

    a {
        @include hover-link;
    }

    &.is-cloud {
        &::before {
            background-image: url('../images/cloud.svg');

            .theme--blue & {
                background-image: url('../images/cloud-blue.svg');
            }

            .theme--purple & {
                background-image: url('../images/cloud-purple.svg');
            }
        }
    }
}
