.icon-list {
    @include list-reset;

    li {
        position: relative;
        padding-left: 2em;
        margin-bottom: 0.5em;

        &::before {
            position: absolute;
            top: 0.25em;
            left: 0;
            display: block;
            width: 1em;
            height: 1em;
            background-image: var(--iconurl);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            content: '';

            @include supports-mask {
                background: color('orange');
                mask-image: var(--iconurl);
                mask-position: center;
                mask-repeat: no-repeat;
                mask-size: contain;

                .theme--blue & {
                    background: color('mediumblue');
                }

                .theme--purple & {
                    background: color('mediumpurple');
                }
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}
