.responsive-embed {
    position: relative;
    display: block;
    width: 100%;
    padding-top: ratio(16, 9);

    > * {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }
}
