$blocks: wysiwyg--background,
    widecard,
    counterblock;

@each $firstblock in $blocks {
    // This will remove gaps above and below the listed blocks
    @each $secondblock in $blocks {
        .#{$firstblock} + .#{$secondblock} {
            @include layout-margin-pull;
        }
    }
}
