.timeline {
    $mobile-icon-size: 3em;
    $iconsize: 125px;
    $linelength: 60px;

    @include layout-margin;

    display: flex;
    flex-direction: column;

    &__heading {
        @include section-heading;

        max-width: 952px;
    }

    &__meta {
        order: -1;
    }

    &__items {
        @include list-reset-hard;

        margin-top: space('paragraph') * 1.5;

        @include mq($primary-breakpoint) {
            margin-top: 50px;
        }

        > * {
            margin-top: space('gutter');

            @include mq($primary-breakpoint) {
                margin-top: 0;
            }

            &:first-child {
                margin-top: 0;
            }
        }
    }

    &__item {
        position: relative;
        z-index: 1;
        // ---------------------------------------------------------------------
        // The padding pushes the heading down to be inline with the middle of
        // the image
        // ---------------------------------------------------------------------
        padding-top: calc(#{$mobile-icon-size} + #{space('paragraph') / 2});
        margin-top: $linelength;
        margin-bottom: $linelength;

        @include mq($primary-breakpoint) {
            width: calc(50% + #{$iconsize / 2});
            min-height: 150px;
            padding-top: 2em;
            padding-right: space('layout') / 2 + $iconsize;
            padding-left: space('layout') / 2 + $iconsize;
        }

        @include mq(large) {
            padding-right: space('layout') + $iconsize;
            padding-left: space('layout') + $iconsize;
        }

        &-heading {
            position: relative;
            color: color('orange');
            font-family: $base-serif;
            font-size: em(30);
            font-weight: bold;
            line-height: $heading-line-height;

            .theme--blue & {
                color: color('mediumblue');
            }

            .theme--purple & {
                color: color('mediumpurple');
            }

            // -----------------------------------------------------------------
            // This is the line that sits next to the heading
            // -----------------------------------------------------------------
            &::before {
                @include mq(large) {
                    position: absolute;
                    top: 0.74em;
                    width: $linelength;
                    height: 1px;
                    background: color('darkgrey');
                    content: '';
                }
            }
        }

        &-content {
            @include no-first-last-margin;

            margin-top: 1em;

            @include mq(large) {
                width: 300px;
            }
        }

        &-icon {
            position: absolute;
            top: 0;
            width: $mobile-icon-size;
            height: $mobile-icon-size;

            @include mq($primary-breakpoint) {
                width: $iconsize;
                height: $iconsize;
            }

            // -----------------------------------------------------------------
            // The line above and below the image
            // -----------------------------------------------------------------
            &::before,
            &::after {
                @include mq($primary-breakpoint) {
                    position: absolute;
                    z-index: -1;
                    left: 50%;
                    width: 1px;
                    height: $linelength;
                    background: color('darkgrey');
                    content: '';
                    transform: translateX(-50%);
                }
            }

            &::before {
                @include mq($primary-breakpoint) {
                    bottom: calc(100% + 1em);
                }
            }

            &::after {
                @include mq($primary-breakpoint) {
                    top: calc(100% + 1em);
                }
            }

            // -----------------------------------------------------------------
            // Make the image be contained
            // -----------------------------------------------------------------
            img {
                object-fit: contain;
            }
        }

        &-counter {
            position: absolute;
            z-index: -2;
            top: 0;
            display: none;
            color: color('grey');
            font-family: argent;
            font-size: em(200);
            line-height: 1;
            pointer-events: none;

            @include mq(large) {
                font-size: em(300);
            }
        }

        &:nth-child(odd) {

            @include mq($primary-breakpoint) {
                padding-right: 0;
                margin-left: auto;
            }

            @include mq(large) {
                padding-right: space('layout');
            }

            .timeline__item-heading {
                &::before {
                    right: 100%;
                    margin-right: 1em;
                }
            }

            .timeline__item-icon {
                left: 0;
            }

            .timeline__item-counter {
                left: 0;
            }
        }

        &:nth-child(even) {
            @include mq($primary-breakpoint) {
                padding-left: 0;
            }

            @include mq(large) {
                padding-left: space('layout');
            }

            .timeline__item-heading {
                &::before {
                    @include mq($primary-breakpoint) {
                        left: 100%;
                        margin-left: 1em;
                    }
                }
            }

            .timeline__item-icon {
                @include mq($primary-breakpoint) {
                    right: 0;
                }
            }

            .timeline__item-counter {
                right: 0;
            }
        }

        &:nth-child(4n+1) {
            .timeline__item-counter {
                transform: translateX(30%) translateY(-50%);
            }
        }

        &:nth-child(4n+2) {
            .timeline__item-counter {
                transform: translateX(-50%) translateY(-50%);
            }
        }

        &:nth-child(4n+3) {
            .timeline__item-counter {
                transform: translateX(-10%) translateY(25%);
            }
        }

        &:nth-child(4n+4) {
            .timeline__item-counter {
                transform: translateX(-85%) translateY(50%);
            }
        }
    }

    &--numbers {
        .timeline__item-counter {
            @include mq($primary-breakpoint) {
                display: block;
            }
        }
    }
}
