@import 'swiper/src/swiper';

.quotes {
    $buttonheight: 50px;

    @include layout-margin;
    @include layout-padding;

    position: relative;
    z-index: 1;
    background: color('grey');

    @include mq(large) {
        @include layout-padding-top(0.7);
        padding-bottom: 0;
        background: transparent;
    }

    &::before {
        @include mq(large) {
            position: absolute;
            z-index: -1;
            top: 0;
            right: -9999px;
            bottom: 0;
            left: -9999px;
            background: color('grey');
            content: '';
        }

        @include mq(large) {
            bottom: $buttonheight;
        }
    }

    .flag {
        @include container;

        box-sizing: border-box; //Swipe js resets this
        margin-top: 0;
        margin-bottom: 0;

        @include mq($primary-breakpoint) {
            width: width('normal');
        }

        &__media {
            order: -1;
            margin-top: 0;
            margin-bottom: space('gutter') / 2;

            @include mq($primary-breakpoint) {
                width: 40%;
                order: 1;
                margin-left: space('layout') / 4;
            }

            @include mq(large) {
                width: 46%;
                margin-left: space('layout');
            }
        }
    }

    .swiper-pagination {
        @include layout-margin-top;

        display: flex;
        justify-content: center;
        color: color('orange');

        @include mq($primary-breakpoint) {
            display: none;
        }

        .swiper-pagination-bullet {
            display: block;
            width: 1em;
            height: 1em;
            border: 1px solid currentColor;
            margin-right: 1em;
            background: transparent;
            border-radius: 9999px;
            transition: transition(background);

            &:last-child {
                margin-right: 0;
            }

            &-active {
                background: currentColor;
            }
        }
    }

    .swiper-buttons {
        @include container;

        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 50%;
        display: none;
        width: width('normal');
        justify-content: flex-end;
        transform: translateX(-50%);

        @include mq($primary-breakpoint) {
            display: flex;
        }

        @include mq($from: medium, $until: large) {
            padding-right: 0;
        }

        .swiper-button {
            @include button-reset;
            @include no-focus;

            position: relative;
            height: $buttonheight;
            padding: 0 2.2em;
            background: color('white');
            color: inherit;
            text-indent: -9999px;

            @include interact {
                &::before {
                    filter: brightness(1);
                }
            }

            &::before {
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                background-image: url('../images/arrow.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: 22px 8px;
                content: '';
                filter: brightness(0);
                opacity: 1;
                transition: transition(filter);
            }

            &-prev {
                z-index: 1;
                overflow: visible;
                border-top-left-radius: $base-border-radius;

                &::before {
                    transform: rotate(180deg);
                }

                &::after {
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    right: -9999px;
                    bottom: 0;
                    left: 0;
                    background: inherit;
                    border-top-left-radius: inherit;
                    content: '';
                    pointer-events: none;
                }
            }

            &-next {
                position: relative;
                z-index: 2;
            }
        }
    }

    // &__items {

    // }

    // &__item {

    // }

    &__quote {
        $size: 32px;
        padding: 0;
        padding-top: calc(#{$size} + 1em);

        border: 0;
        background-image: url('../images/quote.svg');
        background-position: top left;
        background-repeat: no-repeat;
        background-size: $size;
    }

    // &__author {

    // }

    // &__role {

    // }

    // &__media {

    // }
}
